[2017-06-28 10:01] #236 closed

[2017-06-28 10:06] joeblew99 commented on #352
is fixed - thanks

[2017-06-28 10:06] #352 closed

[2017-06-28 10:07] #347 closed

[2017-06-28 10:19] joeblew99 opened #379 "ios-sim"
At the moment there are 2 issues, and i would like some help.

Using this single file app as a base to keep it simple.
https://github.com/therecipe/qt/tree/master/internal/examples/widgets/pixel_editor

On OSX, qt 5.9.

Makefile
[code]

1. Fails to run see above...

2. I would like to be able to load different devices using your CLI

[code]

3. Sign fro App Store.

Did not see anything about signi

[2017-06-28 10:23] joeblew99 commented on #379
BTW you can run OSX desktop on windows and linux.

This is all i needed. i am running OSX on OSX, just to test it.

[code]

[2017-06-28 17:24] therecipe commented on #378
Hey

Thank you, thats a great suggestion :)

I think that it could also be used to create a more extensive CI plan.
I'm not really happy with the current situation, because I can just test a small subset of what I would like to.
So this comes really handy. (I recall that I looked into vagrant before, but it somehow slipped my mind)

And yeah, something like `qtdeploy -vagrant build ...` should be

[2017-06-28 17:26] averrin commented on #279
Aaand again i wrote code which works fine on linux and not fails to compile on windows (first time it was plugins). So sad=( I hate windows=(

[2017-06-28 17:57] therecipe commented on #379
You made a small mistake there, not building it for "ios-simulator" as well.

Yeah, that would be nice indeed.
I can probably add something like a "-device" flag or something to target a specific simulator.

Btw, I looked into how to start the iOS simulator without the error messages lately, but "xcrun instruments -w" seems to be the only way to properly start the emulator. The error is gone if yo

[2017-06-28 18:00] therecipe commented on #377
Sorry, should be fixed with: https://github.com/therecipe/qt/commit/fad568a2852a31c668f08b9c32efec8380f3411c

[2017-06-28 19:11] averrin opened #380 "Msys2 windows installation + webkit"
Can i install webkit with msys2? I cant use regular installation due to #376.
I tried `pacman -S mingw-w64-x86_64-qtwebkit` and copying webkit files to empty folder like `C:\Qt\Qt5.8.0\mingw53_32` and `C:\msys64\mingw64\qt5-static` but still no luck:
[code]

[2017-06-28 19:42] joeblew99 commented on #378
I am still in 2minds of this idea....
Docker can be a pain but it's automatic updating is sweet.
Virtual box is easy to use, but it's update story is insanity square :)
For osx, windows, Ubuntu I loose 60 gb of ssd disk and 4 GB of ram. So 50% of the Devs will not be able to use this, me included.

So don't throw away the docker approach.

[2017-06-28 20:36] joeblew99 commented on #379
1. fixed thanks.

2. try this. works for me..

[code]

[2017-06-29 02:31] stephenlyu opened #381 "Is uic supported by this binding?"
I write a goqtuic tool for this qt binding. Please check https://github.com/stephenlyu/goqtuic. Any questions, please make an issue.

[2017-06-30 07:31] ShalokShalom opened #382 "Actual name and wiki entry"
The actual name of this binding is simply "qt"? I am asking since i write the entry in Qts own Wiki for it.
I am wondering its not there yet..

[2017-06-30 19:45] averrin opened #383 "Qml SpinBox: Cannot assign to non-existent property "onEditingFinished""
Seems like SpinBox component has no `onEditingFinished` signal and `maximumValue` property.
But if i use it only with `value` it can be shown. But without signals i cannot interact with it=(

[2017-06-30 22:40] therecipe commented on #379
Oh shit, yeah seems like I missed the "Blank" flag when I looked into this. Thanks :)

And I made some changes with https://github.com/therecipe/qt/commit/7ca03f7c288a2207fa524765b1c101f9e7c97693, so that qtdeploy can now be used like this:
`qtdeploy -device C907A309-282D-424B-854D-2830D8FA6A20 run ios-simulator`

[2017-06-30 22:43] therecipe commented on #380
Hey

I haven't tested it myself yet, but if they provide binaries for the webkit.
Then it should work somehow.
I will look into it.

[2017-06-30 22:53] therecipe commented on #378
Yeah, I'm not planning to get rid of docker.
I will instead use vagrant to fill the missing spots in the CI and then also add a flag to the tools, so that you can use it for "cross-compiling" like you can do with the docker flag.

[2017-06-30 22:57] therecipe commented on #383
Hey

Those should be available.
But the functions you are looking for are called: `ConnectEditingFinished` and `Maximum`

Does this work for you?
[code]

[2017-06-30 23:11] therecipe commented on #381
Hey

That really awesome :)
I had a port of the uic, on my todo list but never found the time unfortunately.

After a quick look into the sample, it seems to work great so far :)
And you even got the signal/slot connections working.

The only thing that I found a bit tedious was that I had to write something like this:
[code]

Instead of something like this:
[code]

But that's only a minor thing.

[2017-06-30 23:37] therecipe commented on #382
Hey

Yeah, actually it's nameless.
I wasn't able to come up with something I liked and the obvious ones like "goqt" or "qtgo" were already taken, so I just called the repo "qt" and moved on. So yeah "qt" is the official name, I guess.

I am wondering its not there yet..

I'm not sure, I did know that Qt had a wiki but I thought that it was inactive.
However, I would be happy if this binding would

[2017-06-30 23:56] stephenlyu commented on #381
Thanks for your feedback.

Before I wrote test code like this.
`	w := widgets.NewQWidget(nil, 0)
	ui := new(UITestForm)
	ui.SetupUI(w)
	w.Show()`

In order to support signal/slot connection better, I use subclassing mode. Because we could override slot function of "w" widget.

[2017-07-01 00:08] stephenlyu commented on #381
I will update the test code generation logic.

If no signal/slot connections in the ui file, I will generate code like this:
[code]
else, generate code like this:
[code]

Actually, subclassing mode need use moc, it is a bit tedious.

[2017-07-01 04:36] hanbang-wang opened #384 "Why QLineEdit Font SetPointSize only effects placeholder?"
For example I had a `QLineEdit` created by `widgets.NewQLineEdit(nil)`, then I `.SetPlaceholderText("Num here")` and `.SetText("1000")`. After that, I used `.Font().SetPointSize(20)` to set the font's point size, but the result was really confusing. The text `1000` has its original size, but when I deleted the text and left it blank, the placeholder text `Num here` was using the correct size.

[2017-07-01 08:55] ShalokShalom commented on #382
I think it **IS** inactive. ;)

I add qt to this list, no acceptance yet, while Ruby and Perl, both with Qt1 until Qt4 support are still in and two other bindings are also added. https://wiki.qt.io/Language_Bindings

Maybe a ping an admin later, no reaction on Qt either yet.

[2017-07-01 08:55] ShalokShalom commented on #382
CuteGo

[2017-07-01 09:45] averrin commented on #383
I am about QML SpinBox and if i write something like
[code]

[2017-07-01 09:48] averrin opened #385 "Generated ListModel havent `get` method"
If i use https://github.com/therecipe/qt/blob/master/internal/examples/quick/listview/personmodel.go as reference ListModel havent `get` method and if i use it in ComboBox i cant get current selevted item in other components.
How i can add this method?

[2017-07-01 16:41] therecipe commented on #384
Hey

I think that this is made on purpose.

from: http://doc.qt.io/qt-5/qwidget.html#font-prop

And using a stylesheet seem to work:
[code]

[2017-07-01 17:01] therecipe commented on #383
Ah, sorry.

Then you are probably just imported the new controls with "import QtQuick.Controls 2.1", but you are still looking at the old controls docs.

http://doc.qt.io/qt-5/qml-qtquick-controls-spinbox.html
https://doc.qt.io/qt-5/qml-qtquick-controls2-spinbox.html

Here, this example shows that the old SpinBox has the onEditingFinished signal + the maximumValue property. While the new one has t

[2017-07-01 17:18] pauldotknopf opened #386 "Using standard go build"
I am running on Windows 10, compiling for 64bit with MSYS2.

# Environment

[code]

## Additional environment variables

[code]

# Isssue

I get this when running ```qtsetup test```.

[code]
I have added ```D:\msys2\mingw64\bin``` to my system ```PATH```. However, I'm now seeing a ```chdir``` executable.

Was this command meant to be run on Linux/Mac environments only?

[2017-07-01 17:29] therecipe commented on #385
Hey

Yeah, if you use a C++/Go model instead of a real QML model like this one: http://doc.qt.io/qt-5/qml-qtqml-models-listmodel.html

Then you also need to use the C++/Go api to access the model: http://doc.qt.io/qt-5/qabstractlistmodel-members.html

So you probably need to rebuild your own "get" function with: http://doc.qt.io/qt-5/qabstractitemmodel.html#data and http://doc.qt.io/qt-5/qabstract

[2017-07-01 17:39] therecipe commented on #386
Hey

No, this "chdir" is just an internal go error info for the case when (*exec.Cmd).Dir points to something invalid.

Could it be that you are using an (old) version of the binding, which is at least 3-4 days old?

Because I recently fixed this with: https://github.com/therecipe/qt/commit/fad568a2852a31c668f08b9c32efec8380f3411c

You probably just cloned the faulty version between the 23rd and 2

[2017-07-01 17:48] pauldotknopf commented on #386
I was 1 commit behind that fix :)

Well, I am not getting another error. Maybe I should create another issue?

[code]

My MSYS2 MinGW 64bit environment has ```mingw64/mingw-w64-x86_64-qt5-static 5.8.0-1 ``` installed.

[2017-07-01 17:57] pauldotknopf commented on #386
[Here](https://github.com/qt/qtbase/blob/5.8/src/corelib/kernel/qobject.h#L395) is the source for ```qobject.h`` at 5.8.

However, ```qtcore.index``` ([here](https://raw.githubusercontent.com/therecipe/qt/master/internal/binding/files/docs/5.8.0/qtcore.index)) file references it as having 1 parameter.

[2017-07-01 17:59] therecipe commented on #386
Mh, I think that the same issue as this one: https://github.com/therecipe/qt/issues/358#issuecomment-309207152

So you probably just need to install: `mingw-w64-x86_64-qt5`

[2017-07-01 18:18] averrin commented on #385
You are awesome. You know it? =) All your answers are correct. I used Qt some years ago and i surprised with this changes=)

[2017-07-01 18:18] #385 closed

[2017-07-01 18:19] averrin commented on #383
Nice catch, thanks!

[2017-07-01 18:19] #383 closed

[2017-07-01 19:51] pauldotknopf opened #387 "Using standard "go build" commands"
Editors (like VS Code) have no notion of ```qtdeploy```. I'd like to use standard ```go``` stuff, since editors use them for debugging/building/etc. I understand that I would have to manage the commands like ```qtmoc``` and ```qtrcc```. That is fine.

However, when I run ```go build```, I get this error.

[code]

I am running Windows 10, using MSYS2 static qt binaries. Here is my ```go env```

[co

[2017-07-02 02:38] 5k3105 opened #388 "moc stepping on NewXxxxx function names"
If I have a class LookupLine I will have a function called NewLookupLine to initialize:

[code]

I am getting error:
[code]

line 332 from moc.go:
[code]

also get error:
[code]

[code]

[2017-07-02 02:39] yizheneng opened #389 "A little bit of advice"
The function can be named newQLabelWithText or newQLabelWithTextAndParent,  just like OC

[2017-07-02 09:33] hanbang-wang commented on #384
That helps a lot, thanks!

_Sent from my Samsung SM-G9500 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 09:34] #384 closed

[2017-07-02 12:22] hubyhuby commented on #373
Yes, just to confirm that would help a lot new bees like me :)
I d like to do a Prof of concept app for viewing photos.
But just starting the right seems complicated ;)
Bravo for this wonderful work on QT !

[2017-07-02 16:49] hanbang-wang opened #390 "How to properly call QMetaObject::InvokeMethod?"
Since it was not possible to draw gui in worker thread, I was trying to call a slot to achieve the same effect.
[code]
However, this code will panic at `core.QMetaObject_InvokeMethod3`. So how to properly use this function?

[2017-07-02 20:00] joeblew99 commented on #379
awesome thanks.

there is also this:
https://github.com/bitrise-tools/go-android

https://github.com/bitrise-tools/go-xcode

I have been meaning to integrate it into my workflow, but it could make sense for your qt project.
its 100% golang and well supported by them.
It wraps all the weird commands for ios and android to make it easier to find and launch mobiles.
They have lotos fo other tools als

[2017-07-02 20:00] #379 closed

[2017-07-03 08:07] joeblew99 opened #391 "Patreon"
Would like to donate to help keep this going . Have you got a patron account ?

[2017-07-03 08:10] joeblew99 commented on #382
Nice name :) needs some name that sticks in people's minds

[2017-07-03 08:17] joeblew99 opened #392 "Qt 5.9"
Have been using 5.9 for a month now against this code and no issues btw.
I use it because I wanted watch support as well as desktop and mobile, and 5.9 had some things I needed.

I read on Qt web site that it's long term support too.

Anyway just wanted to tell everyone if this helps.

[2017-07-03 08:24] joeblew99 opened #393 "Common examples"
Can I enquire about the common examples.

It looks like a different approach with the qml markup embedded in the golang. This seems really smart for many reasons with the main one being golang vendoring / sharing between projects which is huge I feel.

What's the real difference between the qml and widgets ? There is presumably a reason they exist.

I guess also this all makes it easier to build G

[2017-07-03 11:23] hanbang-wang commented on #390
After many searching, I finally realize that only the main-thread can do graphical output, thx.

[2017-07-04 20:32] therecipe commented on #385
Thank you :)
And yeah, I had exactly the same issues with QML in the beginning.

[2017-07-04 21:04] therecipe commented on #387
Hey

Yeah, using the "raw" go build command is a little bit difficult on windows.
You will need to set `GOARCH` (to either "amd64" or "386") and `CGO_ENABLED=1`.
And then run "go build" from within the mingw64 or mingw32 shell.

Ideally it would be something like this: (it's not working)
`C:\msys64\mingw64.exe -c 'export CGO_NABLED=1 &&  go build ...'`

But I'm sure there is a way to get it workin

[2017-07-04 21:22] therecipe commented on #388
Hey

You are probably subclassing `QTextBrowser` or some other `QObject` derived class ?
If yes, then yeah it's currently necessary to occupy the `New*` function.

You could however use a constructor to work around this:

[code]

That way the `NewLookupLine` will call the `init` function first before returning the object.

Is `vocab.VocabDoc` a "moc" class/struct? And did you want to "subclass" it

[2017-07-04 21:22] therecipe commented on #389
Hey

Thanks, this was probably meant to be in https://github.com/therecipe/qt/issues/388, or ?

[2017-07-04 21:49] therecipe commented on #390
Hey

Yeah, unfortunately is not possible to directly use `QMetaObject_InvokeMethod` or `core.NewQGenericArgument` at the moment.

You will instead need to create a helper struct with a custom signal/slot to be able to make all the visual changes in the main thread. (The signal/slots are always called with: `Qt::AutoConnection`)

So something like this should work:

[code]

Usually you should be al

[2017-07-04 21:51] therecipe commented on #379
Thanks :)
I will take a look when I find time.

[2017-07-04 22:26] therecipe commented on #393
Hey

Yeah, actually I just wanted to have it easily comparable to the "widgets" example.

And this particular approach to embed QML inside Go is a bit hacky, take a look here for example: https://github.com/therecipe/qt/blob/master/internal/examples/common/qml_demo/main.go#L74-L76
(Also creating many QQuickWidgets is probably not really effective at all.)

But yeah, if you have a small QML compone

[2017-07-04 23:02] therecipe commented on #391
Hey

Thanks for the offer :)
But no, I got no patreon or anything similar.
I looked into these services and figured that unless you have a really really big following, the outcome is most of the times rather moderate. And so I let it be.

Another reason therefor was also, that there are plans to secure the further development of this project with the help of dual license bussiness model. And so I

[2017-07-06 11:02] bclermont opened #394 "Can't qtsetup install anymore on Mac 5.8"
just tried to build latest version:

[code]

[2017-07-06 12:49] averrin commented on #391
Maybe you just add paypal button? I like go and qt, but some issues make me sad=(

[2017-07-06 13:56] bclermont commented on #394
this is an old issue, but I wonder why I can't install binding anymore. I reverted to every last 10 commits and I can't install

[2017-07-06 14:06] bclermont commented on #394
it's just a warning...

[2017-07-06 14:06] #394 closed

[2017-07-07 07:01] #389 closed

[2017-07-07 09:16] hanbang-wang commented on #390
A little modification makes it neither display nor print anything.
[code]

[2017-07-09 17:02] 5k3105 commented on #388
Thanks for this, but I think I am seeing a different problem. All my other 'New' functions worked for the other objects..

I had to refactor code anyway and by the time I had done this, it fixed itself without having to create init functions as you suggested.

Code will be up sometime soon.

Like always - thank you for the quick responses!

[2017-07-09 17:02] #388 closed

[2017-07-10 02:44] RadhiFadlillah commented on #392
@joeblew99 @therecipe unfortunately 5.9.0 is still not working for me. When I try to build my app, it failed with following message :

[code]

It seems these error happened because [new classes and functions](https://doc.qt.io/qt-5/newclasses59.html) in Qt 5.9 has not implemented yet in this package.

[2017-07-10 17:18] omac777 opened #395 "Cannot resize tableview embedded within TabWidget"
I'm trying to get the tableview to resize itself to its parent container, a TabPage within a Tab widget.  My attempt has a callback for the resize event that tells the the main window about the new frame size, but I haven't found the appropriate functions to drill down and set the tab, tableview, and column sizes respectively. In fact I received an error
when I tried to iterate through all the QWi

[2017-07-10 17:26] jmc-figueira commented on #392
In my case I also get an error running `qtsetup`, but in my case it appears to be related to having Qt 5.9.1 installed, which Qt recognizes as 5.9 (the folder for which doesn't exist).

`Queimado-Mac:GoProjects joao$ echo $QT_VERSION_MAJOR
5.9.1
Queimado-Mac:GoProjects joao$ /Users/joao/Documents/GoProjects/bin/qtsetup
INFO[0000] running: 'qtsetup prep'
INFO[0000] successfully created qtrcc symlin

[2017-07-11 02:19] #250 closed

[2017-07-11 14:09] pakdev opened #396 "Can't build example due to "rcc: No input files specified""
I followed the minimal setup instructions and the examples built/ran fine. But, when I try to build my own example with:

`qtdeploy -docker test desktop $GOPATH/src/qtexample`

I get the following:

[code]

The only potential cause of problems is my qtsetup -docker gives the following warnings:

[code]

[2017-07-11 17:14] bhansconnect opened #397 "realgcc.exe: fatal error: no input files"
I was following the official windows without android support installation instructions and I ran into an error. I am not really sure what caused the error. The error showed up when running this command: `%GOPATH%\bin\qtsetup`.
Here is what it outputs:

[code]

Any suggestions or guesses as to why this is happening?

[2017-07-11 21:49] therecipe commented on #390
Sorry it took a little longer, but both issues should be fixed now with: https://github.com/therecipe/qt/commit/0f99eb634c8837bffcd4fd524ec8169692042d41
The "QObject*" one was a regression, and the new one was due the unregistered enums.

This should work now:
[code]

[2017-07-11 22:51] therecipe commented on #387
Okay, I needed to look into this for something else.
You can get it working with qtdeploy like this:
[code]
(I will try to get rid of the need to invoke qtdeploy inside the mingw shells, in the future)

Or with qtminimal an go like this:
[code]

[2017-07-11 22:56] therecipe commented on #394
Yeah, the warning should be gone with 5.9
It were probably just some deprecated leftovers that there causing trouble.

[2017-07-11 23:06] therecipe commented on #397
Hey

This can happen if there is another version of "gcc" in your path somewhere.
So you probably just need to move "C:\Qt\Qt5.8.0\Tools\mingw530_32\bin" at the beginning of you PATH (or at least before the folder containing the "realgcc.exe")

[2017-07-11 23:28] therecipe commented on #396
Hey

You probably mixed some "*.go" and "*.qml" files inside the root folder or your project or?
The easiest solution would be to move all the "*.qml" files inside a subfolder called "qml".
Like in the basic qml example here: https://github.com/therecipe/qt#basic

The other solution would be to create another file with an ".qrc" extension for example "main.qrc" inside the root folder of your proje

[2017-07-12 00:42] bhansconnect commented on #397
Thank you, that fixed the issue.

I have a quick side question. After building the basic qml/quick example, the deploy folder takes up 60mb. Does this mean that even a minimal binary requires 60mb of storage space or is it possible to use less disk space for an application?

[2017-07-12 00:47] therecipe commented on #395
Hey

You probably just made a small mistake by using `core.Qt__AlignCenter` when calling: `layoutFirstTabPage.AddWidget(viewFirstPage, 0, core.Qt__AlignCenter)`
This will change the SizePolicy of the viewFirstPage or layoutFirstTabPage.AddWidget (or something else) and therefore the viewFirstPage will stop expanding. (I hope that's one of the things you wanted to achieve)

The other thing is, that

[2017-07-12 01:17] therecipe commented on #397
There are a few possibilities, and depending on how important this is for you, then you can probably cut it down to 10-15mb (or less, I'm not really sure).

The easiest way at the moment is probably to create a static version with MSYS or MXE.
That would save you half the size and is pretty easy.

Another thing you could try would be to replace the 25mb ICU dlls with 5mb ones.
http://wiki.qt.io/Co

[2017-07-12 01:20] omac777 commented on #395
Your answer is so thorough.  I truly appreciate all your efforts.  I
wish therecipe/qt the greatest of popularity and success.  It deserves
greater attention from the golang community as it crystallizes its
position as the #1 choice for building gui's with golang on all
operating systems alike.

Thank you.

On 07/11/2017 08:48 PM, therecipe wrote:

[2017-07-12 01:22] pakdev commented on #396
Thanks for the quick response! You're right; my .qml file was in the same directory as my .go file. I moved it into the qml directory and it built successfully.

[2017-07-12 01:22] #396 closed

[2017-07-12 01:27] therecipe commented on #378
@joeblew99
I have added the initial support for vagrant with: https://github.com/therecipe/qt/commit/0f99eb634c8837bffcd4fd524ec8169692042d41

I haven't written the docs yet, but for example you just need to run `vagrant up linux` in `https://github.com/therecipe/qt/tree/master/internal/vagrant/linux` and then after the machine is provisioned you can use `qtdeploy -vagrant build linux/linux ...` l

[2017-07-12 01:31] bhansconnect commented on #397
Thank you for the information. I was just wondering in general. It might come in handy at some point but probably won't matter too much.

If you know the answer: Since your library is LGPL-3.0, if I were to build and distribute a go application that imports your library, would I be required to make that application GPL or LGPL because go would statically link your library? If I could dynamically i

[2017-07-12 01:45] therecipe commented on #392
@RadhiFadlillah  @jmc-figueira
Did you re-ran the setup with `QT_DIR=path/to/Qt5.9.0` and `QT_VERSION=5.9.0` (or `5.9.1`) ?
You will need to make these env variables persistent.

I just tested 5.9 on macOS, but haven't tested if it works on linux/windows yet.
However, I will work on that in the next few days.

[2017-07-12 02:26] RadhiFadlillah commented on #392
@therecipe I've only tried setting `QT_DIR` and `QT_VERSION` from `qtsetup` flags like this :

[code]

I will try to set these variables to persistent.

[2017-07-12 02:40] therecipe commented on #397
No problem :)

As far as I understand LGPL3, you can choose whatever license you would like for you project (doesn't even have to be an OpenSource license afaik).
The only condition there is, is that people using your product can replace the LGPL parts (and by making your code publicly accessible you probably already comply with this condition).

There is also the option to keep the code closed, b

[2017-07-12 04:09] #397 closed

[2017-07-12 05:13] hubyhuby opened #398 "Feature : example for "Qt Quick Demo - Photo Viewer""
I didn t find in the example folder an example similar to  "Qt Quick Demo - Photo Viewer".
Obviousely I would like to start a photo app from this example ;) This example contain 90% of the features I need, wich will help me a lot.

Thanks for your help. And Bravo for the nice work !

http://doc.qt.io/qt-5/qtquick-demos-photoviewer-example.html
https://github.com/therecipe/qt/tree/master/internal/e

[2017-07-12 07:13] RadhiFadlillah commented on #392
@therecipe after I set `QT_DIR` and `QT_VERSION` in `.profile`, Qt 5.9.0 works succesfully 👍👍👍

Like @jmc-figueira, I also tried using Qt 5.9.1, but it's failed even after I set those environment variables. It seems it's failed because in Qt 5.9.1 some directory has changed :

- `Qt5.9.1/Docs/Qt-5.9` is not exist, replaced by `Qt5.9.1/Docs/Qt-5.9.1`
- `Qt5.9.1/5.9` is not exist, replaced by `Qt5.9

[2017-07-12 10:59] hanbang-wang commented on #390
That works, thanks!

_Sent from my Samsung SM-G9500 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-12 11:00] #390 closed

[2017-07-12 13:28] omac777 commented on #395
worked like a charm on Arch Linux with Qt5.8.0 downloaded from trolltech.  I can't manage to compile with archlinux qt packages unfortunately since the dirs are the same.

I tried the same sample you gave me in windows msys2 updated last week.  when I build I get the following errors, but it still outputs a working binary that behaves seemingly correctly.

2017-07-12_09:21:56_EDT : ~/go-rsztblvw

[2017-07-13 03:37] masiulaniec opened #399 ""fatal: morestack on g0" crash"
Crash:

[code]

Repro:

[code]

Qt 5.8, Go 1.8.3, macOS 10.12.5, amd64.

[2017-07-13 15:18] therecipe commented on #398
Hey

Thank you :)
You can find it here now: https://github.com/therecipe/qt/tree/master/internal/examples/quick/photoviewer

I only needed to port the small `main.cpp`, because all the other stuff was QML/JS  and that can always can be re-used without any changes.

[2017-07-13 15:23] therecipe commented on #392
@RadhiFadlillah
Fixed the issue with 5.9.1: https://github.com/therecipe/qt/commit/9127474fe466369177aeef9e78ca8c547411eedc
But, I haven't tested it on linux and windows yet.

[2017-07-13 15:25] therecipe commented on #380
The webkit module should be supported now with: https://github.com/therecipe/qt/commit/9127474fe466369177aeef9e78ca8c547411eedc

Just install `mingw-w64-i686-qtwebkit` or `mingw-w64-x86-qtwebkit`, then set `QT_WEBKIT=true` and re-run the setup.

[2017-07-13 15:28] therecipe commented on #350
I fixed a minor bug in: https://github.com/therecipe/qt/commit/9127474fe466369177aeef9e78ca8c547411eedc that was probably related to this.

This example:
[code]

Should work again with Qt 5.8 and `qtwebkit-tp5-qt58-mingw530-x86.zip`

[2017-07-13 15:42] therecipe commented on #399
Hey

It's running fine for me on windows (32/64) and linux (64).
But crashes on macOS (64) and android (arm) with the same "fatal: morestack on g0" message.
I used Qt 5.8 and Go 1.8.3 for all tests.

It's probably a Go issue: https://github.com/golang/go/issues/20975

You can work around this for now by using qtminimal.
Like this: `qtminimal && go build -tags=minimal ...`

And/or by using a helper

[2017-07-13 15:48] hubyhuby commented on #398
Whaou,
Blazzzing fast answer !

Thanks you

Le 13/07/2017 à 17:18, therecipe a écrit :

[2017-07-13 15:55] averrin commented on #380
I will try it today. I it works i will be happy :smile:

[2017-07-13 15:59] masiulaniec commented on #399
Thanks for looking into it.

Have you tried bumping the iteration count to a value higher than 2000? I'm not claiming it will crash, I just don't have an easy access to these platforms.

[2017-07-13 16:15] therecipe commented on #380
Btw, I also looked into https://github.com/therecipe/qt/issues/376 again, and I think the issue may be that your *.syso is probably malformed.

[2017-07-13 16:33] therecipe commented on #399
@masiulaniec
Yeah, on windows 386 is crashes when there are more than 4000 new labels created at once.
On linux amd64 it crashes somewhere between 20-25k new labels.

[2017-07-13 16:34] 5k3105 commented on #350
Thanks I'll try it out!

[2017-07-13 18:45] averrin commented on #380
I still getting `no buildable Go source files in C:\Users\averr_000\Documents\go\src\github.com\therecipe\qt\webengine` =( I will try remove everything and reinstall.

[2017-07-13 19:03] therecipe commented on #380
Yeah, you will need to use `github.com\therecipe\qt\webkit` instead :D

[2017-07-13 19:10] averrin commented on #380
Hmm… Now im at setup progress and:
[code]
Last line is normal?

[2017-07-13 19:14] therecipe commented on #380
Could be that you will need to set `QT_VERSION=5.8.0`, even though it will be 5.9.1.

[2017-07-13 19:21] averrin commented on #380
By default its use 5.8 but i already installed 5.9.1. But last line didnt change after i specify 5.9.1 as qt_version.

[2017-07-13 19:24] averrin commented on #380
And can you get example how i should "use github.com\therecipe\qt\webkit instead :D"? I thought qwebkit was removed in 5.6…

[2017-07-13 19:30] therecipe commented on #395
Thank you :)

On Arch you should be able to get it working by simply exporting `QT_PKG_CONFIG=true` and then re-running the setup. (There should be no further config required)
Also make sure to make the QT_PKG_CONFIG export persistent, otherwise you will need to re-set it before running qtdeploy.

For the msys2 issue, you probably need to either update the binding or the packages, or maybe even bo

[2017-07-13 19:32] therecipe commented on #380
Yeah, you will need to unset QT_VERSION and run the setup without "-qt_version", so just `qtsetup full`

Yes, but it's coming back in 5.10 or so, and you can already test the alpha when you install `mingw-w64-x86-qtwebkit`

[2017-07-13 19:39] averrin commented on #380
Are you sure?
[code]
Maybe i need run some upgrade command?

[2017-07-13 19:42] averrin commented on #380
So, i changed WebEngine to Webkit like
[code]

and got
[code]

[2017-07-13 19:49] therecipe commented on #380
Mh, did you re-ran the full setup? With `QT_WEBKIT=true` set?
(You will also need to have it set when you run qtdeploy later)

The last package that is installed, should be "webkit".
Just before the example are beeing build.

[2017-07-13 19:52] averrin commented on #380
Last `check` was done in clean console. Install has `time="2017-07-13T22:07:25+03:00" level=info msg="QT_WEBKIT:                *  'true'"`

[2017-07-13 19:53] averrin commented on #380
Full install log:
[code]
It has warnings but all test apps were run

[2017-07-13 20:03] therecipe commented on #380
Yeah, the "QT: purchasing" error/warning is expected.

Mh, then you should be able to compile this example:

[code]
From within the mingw64 shell with `QT_WEBKIT=true` and `QT_VERSION=5.8.0` set.

[2017-07-13 20:18] averrin commented on #380
It didnt complie with 5.9:
[code]

[2017-07-13 20:24] therecipe commented on #399
Okay, I looked a bit deeper into this and the issue is not the same as in golang/go#20975, even though the symptoms are identical. I hoped that raising the stack size like they mentioned there would simply "solve" this in one way or the other (like on linux), but it probably would only conceal the real issue.

The issue here is that the underlying`QWidget::paintEvent` function, will call the `QWid

[2017-07-13 20:25] averrin commented on #380
First good news: after reinstalling with 5.8 your example works!

[2017-07-13 20:30] therecipe commented on #380
Awesome :)
But it will only work with the "shared" version, so don't expect it to work when you set `QT_MSYS2_STATIC=true`.

You can also still find the old docs here: http://doc.qt.io/archives/qt-5.5/qwebview.html
I think most of that should still work.

[2017-07-13 20:43] averrin commented on #380
And the second one: my main app works too.
Thanks, you did awesome work. But its some kind of magic. Why people lives windows so mush?..

[2017-07-13 20:43] #380 closed

[2017-07-13 21:32] therecipe commented on #380
No, problem.
Your are welcome :)
And I have no idea, windows is always a pain to deal with :D

[2017-07-14 12:32] averrin opened #400 "Crossplatform app with webkit"
After long hard way (https://github.com/therecipe/qt/issues/380) i wrote webkit code for windows, but on linux where webengine code works, `undefined: webkit.NewQWebView`.
I installed `qt-opensource-linux-x64-5.9.1.run` and `qtwebkit-5.212.0_alpha2-qt59-linux-x64.tar.xz`, reinstall bindings, but no luck. On windows i use qtsetup with QT_VERSION=5.8 when using sources from 5.9 but i cant do it on l

[2017-07-14 15:55] RadhiFadlillah commented on #392
Thanks @therecipe, I can confirm it works in Manjaro Linux 64-bit.

Btw in Qt 5.9+ there is [bug](https://bugreports.qt.io/browse/QTBUG-61395) where Alt+Hotkey is not working on QMessageBox and QInputDialog, so for now I will keep using Qt 5.8 (at least until my current work finished).

[2017-07-14 23:24] 5k3105 commented on #350
Worked great! Thanks!

[2017-07-14 23:24] #350 closed

[2017-07-15 00:44] masiulaniec commented on #382
Please don't invent cute names. The ruby world is infested with project names such as "cucumber". One of the benefits of go's hierarchical url-based import path approach is that package names can be simply self-describing. In other words, workarounds from systems using flat namespaces don't apply here.

[2017-07-15 00:58] masiulaniec commented on #382
A related question is whether the current split into large `core`, `gui`, `widgets`, etc., packages is the best possible one. It seems like if all I need is `QLabel`, then I should be able to write:
[code]
... and use just the `*QLabel.W` type ('W' for Widget), thus avoiding the cost of compiling 95% of stuff I don't need.

[2017-07-16 19:57] therecipe commented on #400
Hey

I haven't tested 5.9 + "qtwebkit-5.212.0_alpha2" on linux yet.
But it should already work with the official pre-built version of 5.8 and https://github.com/annulen/webkit/releases/download/qtwebkit-tp5/qtwebkit-tp5-qt58-linux-x64.tar.xz

[2017-07-18 16:21] therecipe commented on #399
Seems like I hit a dead end.
I tried to remove the unnecessary callback round trips through Go land, but it turned out to neither solve this issue nor to be more efficient.

However, I figured that if show the window (and centralWidget) first before adding the labels, then the labels will be painted one by one rather than being painted in batch.

So this should work:
[code]

[2017-07-18 16:23] masiulaniec commented on #399
Good finding, thanks.

[2017-07-19 03:34] jrmiller82 opened #401 "Documentation: Need example on how to dynamically link an application"
Since QT is lgpl, this library is pretty much unusable without being able to dynamically link QT to the go application. Your readme.md implies that dynamic linking is available for certain platforms. An example way to build such a dynamically linked executable would be helpful since golang is typically known for statically linked binaries.

[2017-07-19 03:38] jrmiller82 commented on #401
Eeek. Just saw that this app is licensed under the LGPL and not a permissive license like MIT or Apache... how in the heck is a golang user supposed to use this with a commercial distributed application? I smell a PyQT paid license coming...

[2017-07-19 03:49] jrmiller82 commented on #259
I stopped reading after a few posts... I smell a PyQt money grab coming (and PyQT hadn't been mentioned up to the point I was reading). The second i saw that this library was LGPL instead of BSD, MIT, Apache, etc. I knew that I'd find requests for assignment of copyright from the repo owner from contributors in the issues. And lo and behold, it's on page 2 of the issues.

**Shame on you** @thereci

[2017-07-19 16:09] therecipe commented on #259
Maybe you should have kept on reading ...
I later explained the reason behind my decision to use LGPL + an commercial license in more detail.

I don't think that's a fair thing to say, I personally think highly of PyQt.

I encourage each of you that contributed to the repo to retract any agreement to allow your code to be used in the PyQT money grab.
If you have changed your mind, I encourage you

[2017-07-19 16:09] therecipe commented on #401
Hey

qtdeploy always dynamically links against Qt by default unless you explicitly export `QT_MXE_STATIC` or `QT_MSYS2_STATIC`.
The only exception to this is iOS, where statically linking is the only option at the moment.
But this may change with 5.10.

If the application is closed source (and you dynamically link against Qt) then you would need to either:
* Distribute object files + instructions

[2017-07-19 16:31] jrmiller82 commented on #401
Distributing object files + instructions on how to re-link is most certainly importing the viral qualities of LGPL and I don't wish to be the test lawsuit to determine that.

[2017-07-19 16:42] jrmiller82 commented on #259
While I am a lawyer, I don't practice in this area. So no, I'm not out to get new clients. That would also be the definition of "ambulance chasing" and is against the lawyer ethics rules in most jurisdictions.

Of course you think highly of PyQT... you're mimicking their business model. And getting free work from github contributors that you are then in turn going to use to sell commercial license

[2017-07-19 19:35] therecipe commented on #401
I was under the assumption that "work that uses the library" is not triggering the viral part of LGPL.
Therefor it makes no difference how you comply with these conditions.
See here: https://www.gnu.org/licenses/gpl-faq.en.html#LGPLStaticVsDynamic

[2017-07-19 19:36] therecipe commented on #259
So no, I'm not out to get new clients. That would also be the definition of "ambulance chasing" and is against the lawyer ethics rules in most jurisdictions.

Okay, I didn't want to insult you. So I hope you don't took it personal.

I was more focused on `money grab` implying that there was no substantial additional value created. But yeah, their business model is good as well.
But btw, I also thi

[2017-07-19 19:42] bclermont commented on #259
@therecipe :heart_eyes:

[2017-07-19 20:05] jrmiller82 commented on #401
That's a FAQ and not the license itself. The license itself is not black and white when it comes to that issue.

[2017-07-19 20:32] Fornax96 commented on #306
Awesome.

After trying Qt 5.9.1 and coming to the conclusion that it's still broken I decided to try the native libs.

Then I installed a few dozen Qt libs, because the setup script kept throwing errors (save your time, just install all of them "qt5-*"). And it works!
![image](https://user-images.githubusercontent.com/1247928/28387898-20e7a01c-6cd1-11e7-9f17-82dd94c872f3.png)

This also works with

[2017-07-20 04:39] wzwmzm opened #402 "Miss file or cannot open file"
When I run the example **github.com/therecipe/qt/internal/examples/qt3d/audio-visualizer-qml/** .

First ,i do **qtdeploy test desktop ...**, OK!

Then run **wzw@home:~/audio-visualizer-qml/deploy/linux$ ./audio-visualizer-qml.sh**

**qrc:/main.qml:38:1: plugin cannot be loaded for module "QtQuick.Scene3D": Cannot load library /home/wzw/share/github.com/therecipe/qt3d/audio-visualizer-qml/deploy/l

[2017-07-20 04:46] 5k3105 opened #403 "QGraphicsVideoItem"
line 32:
[code]
Seems to be like example: http://doc.qt.io/qt-5/qgraphicsvideoitem.html

[code]

[code]

[2017-07-20 08:17] joeblew99 commented on #401
Would be good to know what your going to expect to be paid for a license :)

[2017-07-20 08:20] joeblew99 commented on #401
Pyqt is 600 per developer ?

https://www.riverbankcomputing.com/commercial/buy

Just select t an option and it tells you the cost

[2017-07-20 14:26] therecipe commented on #403
Mh, that's strange.
I checked the `QGraphicsVideoItem`, and the class seems to be generated correctly.

Seems like the C++ versions casts the `QGraphicsVideoItem` to an `QGraphicsWidget` behind the scenes or something.

However you can make it work, if you manually cast it like this:
`Player.SetVideoOutput(multimedia.NewQVideoWidgetFromPointer(VideoItem.Pointer()))`

[2017-07-20 14:28] therecipe commented on #402
Hey

No problem, it's not that bad :)

The issue should be fixed with: https://github.com/therecipe/qt/commit/794d660e4775975de7d6f9472589a3b8d05f5712
There were just some dependencies missing in `deploy/linux/lib`.

But it takes a while until the new docker image is ready: https://hub.docker.com/r/therecipe/qt/builds/bwjwqfxe9vybzld6wpnqvnd/

[2017-07-20 14:49] therecipe commented on #306
Mh, then you probably need to start the binary directly if you use QT_PKG_CONFIG, not like usual with the *.sh. Or maybe try to remove the line containing `LD_LIBRARY_PATH` (or some of the others that start with "export") in the *.sh.

Yeah, QT_PKG_CONFIG is intended to be used if you want to create applications for your package manger. So your applications will work on all the other Arch systems

[2017-07-20 15:03] therecipe commented on #401
@jrmiller82
Here is an excerpt from: https://www.gnu.org/licenses/lgpl-3.0

@joeblew99
It will probably be less, but therefore recurring.
And probably also divided into different tiers.

[2017-07-20 16:41] 5k3105 commented on #403
Thank you!

[2017-07-20 16:41] #403 closed

[2017-07-21 03:26] 5k3105 opened #404 "QOpenGLWidget"
QOpenGLWidget is not implemented.

Since the video player does not support subtitles, I am attempting work around.
First attempt using child label widget seems to work and may be what I end up using.

The other two options were:
1. QGraphicsVideoItem - plays video but on resizing, the video slows. Same issue reported here so I know it's a native Qt bug:
https://github.com/Buraburaite/TangoPlus/blo

[2017-07-21 03:29] wzwmzm commented on #402
THANK  U  VERY  MUCH !

[2017-07-21 11:10] joeblew99 commented on #401
Ok well that's something at least....

Don't get me wrong. It's good your paid and this is valuable. It's more about risk and knowing that all the code invested on top of QT golang is not going away actually too.

[2017-07-21 17:01] Aelphy opened #405 "Error during qtdeploy on MacOS"
Hi. I have just received the following problem during running qtdeploy -debug build:
QT. version is 5.9.

ERRO[0122] failed to run command                         cmd="strip mybinary" env= error="exit status 1" func=RunCmd name="strip binary for darwin on darwin"
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/strip: symbols referenced by relocation entries t

[2017-07-21 22:00] luki opened #406 "QAbstractAnimation can't be found"
[code]

[2017-07-23 15:46] liugangnhm opened #407 "casting QObject to Widget"
Some times when want to convert QObject to Widget
for example:

[code]

Above code does not works. Tpye asserting does not works also.

what should i do?

[2017-07-23 15:49] RadhiFadlillah commented on #401
Hi @therecipe, first of all, thanks for this package. Just like @jrmiller82, I'm also wondering about restriction from using `Qt` and `therecipe/qt` (which both using `LGPLv3`) on my app. After spending hours reading about LGPLv3 (which after this point will be referred simply as LGPL), I found out about some things, but become more lost on other things.

One of the most asked question about LGPL

[2017-07-23 16:02] RadhiFadlillah commented on #407
To cast `QObject`, fetch its pointer, then create new `QWidget` from the pointer :

[code]

[2017-07-23 19:54] 5k3105 commented on #407
this should be on the wiki

[2017-07-23 22:04] jrmiller82 commented on #401
@RadhiFadlillah : You'll have to buy @therecipe  forthcoming commercial license subscription as he/she has stated if you want to keep your source closed.

[2017-07-23 22:23] #391 closed

[2017-07-23 22:23] #393 closed

[2017-07-24 20:00] bclermont opened #408 "qtmoc panic"
this step used to works for few hundred times before and it just started to fail today (the docker image get automatically pull'ed by our CI server

[code]

[2017-07-25 08:49] quantonganh commented on #408
Is there any different between:

[code]

and:

[code]

Looks like I didn't get this error if `cd` into that directory before running `qtmoc`.

[2017-07-25 16:24] therecipe commented on #405
Hey

Sorry, I'm a bit busy atm.
Also thanks for the PR :)

I looked into this, and the problem can be probably also solved by using `strip -u -r`.
This is the solution I would prefer, because it's one of the two default modes.
(And it also seems to get rid of even more symbols then `-x`)

So could you try to run `strip -u -r` on a unstriped binary as well, and the maybe compare the resulting binar

[2017-07-25 16:49] therecipe commented on #404
Hey

Yeah, I recall that I blacklisted the OpenGLWidget in the "widgets" module.
I will look into it.

I couldn't build it because of the "KuroiKitsu/go-ass" pkg unfortunately.

[2017-07-25 16:51] therecipe commented on #406
Hey

Did you run the `qtsetup` first?

[2017-07-25 16:55] therecipe commented on #408
Hey

@bclermont
You will need to run `qtmoc desktop /go/src/go/src/xxx/yyy` or `qtmoc linux /go/src/go/src/xxx/yyy` instead.

@quantonganh
Yeah, running qtmoc without arguments is the same as running:
`qtmoc desktop $PWD`

[2017-07-25 17:28] omac777 opened #410 "how to set and get window flags with therecipe qt bindings"
There is qt example that sets the window flags at window creation:
http://doc.qt.io/qt-5/qtwidgets-widgets-shapedclock-example.html

I am now aware of QT WindowType which holds all flags making up the desired window behaviour and look:
https://doc.qt.io/archives/qtjambi-4.5.2_01/com/trolltech/qt/gui/QWidget.html#setWindowFlags(com.trolltech.qt.core.Qt.WindowType[])

within core/widgets.go, I found

[2017-07-25 18:13] 5k3105 commented on #404
I've included that in the 'vendor' folder because he took it down last year.

[2017-07-25 18:18] therecipe commented on #401
@RadhiFadlillah

There is object code created, but it's "hidden" inside some temp folder.
You can preserve it by running: `go build -work -x` (then look into the "WORK" folder)

The last 10-15 lines of the output are also what your user would need to run to re-link your object code against another version of the binding.

Afaik, code created with qtmoc and qtrcc is yours.
Because the code created

[2017-07-25 18:30] luki commented on #406
I have, i'll set it up once more and report (: Can't right now!

[2017-07-25 18:40] therecipe commented on #382
@masiulaniec

Yeah, I recall thinking about that when I split the large "qt" pkg from the early days into the modules.
(And also again when the "widgets" module, took 8gb ram to compile)

I think I tried and rejected it because there was a) a lot of duplicate C and Go code necessary to get it working and b) I had problems with circle dependencies.

[2017-07-25 19:07] Aelphy commented on #405
strip -ur produces the binary of size 2.7M
strip -x gives me 2.6M

[2017-07-25 19:10] therecipe commented on #410
Hey

You are probably better of if you use the current documentation instead.
http://doc.qt.io/qt-5/qwindow.html and http://doc.qt.io/qt-5/qt.html#WindowType-enum

Usually you don't have to upcast to get access to the correct functions.
As long as you don't "override" the `Flags` function in one of your derived classes, you can directly use it in any derived "class".

(But in case you still want t

[2017-07-26 16:08] omac777 commented on #410
yes thank you it worked.  I was still getting white rectangle surrounding the clock.  The following code fixes the region in the rasterwindow.go within analog clock.

[code]

[2017-07-27 09:50] ShalokShalom commented on #382
@therecipe Any suggestions? I added your project now to the Qt Wiki:
https://wiki.qt.io/Language_Bindings

[2017-07-27 11:20] Gskartwii opened #411 "Reimplementing class operators"
Sometimes it's useful to reimplement virtual class operators. For example, to control how `QTreeWidgets` are sorted, one must create a class that inherits `QTreeWidgetItem` and changes `operator<`. How is this done in the Go bindings?

[2017-07-27 13:37] pipilu321 opened #412 "If I have some Go package, Then my program has a console window"
like title!

[2017-07-27 16:23] omac777 opened #413 "undefined windows.Syscall Unknown module in QT purchasing"
I have installed the latest msys2 and qt packages for x86_64 on Windows 7.
My .bashrc:
[code]

I followed the recipe for msys2
# github.com/Sirupsen/logrus
..\..\..\..\Sirupsen\logrus\terminal_windows.go:78:14: undefined: windows.Syscall

To fix it:
import "syscall"
r, _, e := syscall.Syscall(procGetConsoleMode.Addr(), 2, uintptr(v.Fd()), uintptr(unsafe.Pointer(&st)), 0)

Ran qtsetup again.

$ una

[2017-07-28 06:52] bclermont commented on #251
is this bug still valid?

[2017-07-28 14:30] therecipe commented on #404
Mh, tried it again.
But it seems like "go-ass" is only added as a git submodule: https://github.com/5k3105/Trans-View/tree/master/vendor/KuroiKitsu

[2017-07-28 14:31] therecipe commented on #405
Mh, okay.
I will merge your PR.

[2017-07-28 14:32] #405 closed

[2017-07-28 14:38] therecipe commented on #251
https://github.com/bclermont/mocbug, should be fixed at least.

I haven't had time to look into the upcasting issue again, but that's a really specific issue.
So I will wait until it comes up again.

[2017-07-28 16:00] therecipe commented on #382
@ShalokShalom
Ah, thank you :)

Maybe it should be mentioned that you can subclass with the help of qtmoc and thereby extend your "classes" (Go has only structs and no real classes) with custom signals/slots/properties/constructors.
That rcc and {win|mac}deployqt are wrapped by qtrcc and qtdeploy, and that you can simply cross compile to most other targets (>= 10) with the help of docker and vagra

[2017-07-28 16:37] omac777 commented on #410
Attempting to get a ShapedClock example derived from the AnalogClock example you have.
In similar fashion to Flags(), I can't seem to move the Main Window using w.Move() , w.QWindow.Move(), w.QWidget.Move():

[code]

[2017-07-28 16:41] therecipe commented on #410
Ah, that looks nice.
You basically just got rid of the white rectangle or?

Because it seems like it has a black background on linux for me now, but also an translucent on macOS.

[2017-07-28 16:43] omac777 commented on #410
Yes, I removed the dirt on the remaining rectangle region:
1)set the mask
2)take away the rectangle paint within the render of the clock text.

[2017-07-28 16:45] omac777 commented on #410
Do you irc chat? why not /join #therecipeqt on freenode to create a channel there?

[2017-07-28 17:00] therecipe commented on #411
Hey

Yeah, it's not possible to reimplement operators at the moment.
The problem is that there are no operators in Go at all.
I planned to work around this by using unicode characters, but it seemed a bit messy and so I haven't looked into it again.

For now you need to work around this yourself, for this sorting issue you probably could probably make use of Go's sorting interface: https://golang.

[2017-07-28 17:03] therecipe commented on #412
Hey

Yeah, I experienced a similar issue recently on windows, when importing certain 3rd party packages.
But I haven't looked into it yet.

What settings did you used to compile your program?
MSYS2? The official pre-built Qt version? Did you cross compil from Linux with MXE?
Is your application 32 or 64 bit? Do you import a lot of 3rd party packages?

[2017-07-28 17:05] therecipe commented on #413
Hey

Yeah the logrus issue was caused by this: https://github.com/sirupsen/logrus/issues/599
But it seems to be fixed now.

For the purchasing module, I will look into it.
I can probably simply blacklist it if msys2 is used.

[2017-07-28 20:54] therecipe commented on #410
Sorry, just saw your response now.
I always answer all open issues in batch and didn't expect a response that quickly.

And yeah, seems like the QWindow class has no "move" function.
So "setPosition" seems to be the only option.

About irc, there is already a slack channel: https://gophers.slack.com/messages/qt-binding/details
But even that one is not used that often.

[2017-07-29 04:36] 5k3105 commented on #404
updated

[2017-07-29 06:07] ShalokShalom commented on #382
Thanks a lot, that helps me further.

[2017-07-29 10:02] pipilu321 commented on #412
Thanks for your reply.
I use Qt 5.8.0 and MinGW on Windows10 64 bit, my application build for 32bit. I import a my own package.
Let's look a example: https://github.com/pipilu321/qt-issue

[2017-07-29 10:07] pipilu321 commented on #412
I installed QT by this https://github.com/therecipe/qt/blob/master/README.md
---
Desktop
  Windows(Official (with Android support))
---

[2017-07-29 14:12] #407 closed

[2017-07-29 15:51] RadhiFadlillah commented on #382
Well, since `qt` is pronounced `kyu-tee`, what about :

- `gokyu`
- `goqu`
- `goku`

@masiulaniec I think it's fine if package's name is not self-describing, simply because number of vocabulary is limited while number of libraries or packages will keep growing. Even in Go community there are many packages whose name doesn't describing himself, like `gin`, `martini`, `cockroach`, `hugo`, etc.

[2017-07-29 16:20] ShalokShalom commented on #382
This repo suggests to name it therecipe-qt: https://github.com/wzwmzm/therecipe-qt/commits/master ;)

[2017-07-29 16:22] ShalokShalom opened #414 "KDE support"
So, since Qt support is nearly complete, what is about kf5? :D

[2017-07-30 06:43] #251 closed

[2017-07-31 02:28] 5k3105 commented on #404
fixed

[2017-07-31 12:28] vahid-sohrabloo opened #415 "Faild to build android on qt 5.9.1"
Hi
When I run qtdeploy -debug build android I don't have android  apk file
I just have "gallery" and "gallery.h" files in "deploy/android/" android filder
the last log is

[code]

[2017-07-31 14:47] RadhiFadlillah commented on #401
Hey @therecipe thanks for your answer.

First of all, I support your plan to make commercial license for this binding and I believe it will be successful. `Go` is very easy to learn and [suitable](https://texlution.com/post/why-go-is-doomed-to-succeed/) for usage within organization thanks to its opinionated design. On the other hand, `Qt` currently has become the standard GUI framework for native

[2017-07-31 19:11] omac777 commented on #410
I'm trying to add in the right click context menu as originally displayed within the QT ShapedClock example.  Everything attempted to cast or convert in order to get a popup menu from RasterWindow to either QWindow or Widget didn't succeed to provide the behaviour expected.  QMainWindow was never used in the shaped clock demo but it's the only type that has create popupmenu support at the moment w

[2017-07-31 19:27] omac777 commented on #410
I just signed into mercuryfilmworks.slack.com and attempted to join your slack channel, but it doesn't seem to allow me.

[2017-08-01 03:03] emohedano opened #416 "Missing QTextLayout::FormatRange and other QTextLayout methods"
Hi there, I'bee been looking for QTextLayout::FormatRange,  QTextLayout::formats() and  QTextLayout::setFormats() but it seems they are not implemented, am I right? If that's the case, how can I help?

[2017-08-01 06:06] #415 closed

[2017-08-01 19:46] therecipe commented on #410
Yeah, casting from gui.QWindow to widgets.QWidget or so will not work.
For this to work you will probably need to use a QWidget in the first place.
But I'm not totally sure.

Could be that you need to get an invite first: https://invite.slack.golangbridge.org/
Yeah I'm no fan of Slack either, but it's the main channel for all Go communities.

[2017-08-01 19:47] therecipe commented on #412
Thanks, I will look into this.

[2017-08-01 19:49] therecipe commented on #413
Sorry, totally forgot to report back.
The purchasing warnings should be gone already with: https://github.com/therecipe/qt/commit/4fbdae21b3e70b85cf72d1c283dff4d91997e674

[2017-08-01 19:52] therecipe commented on #404
Ah, nice. Will try to test it tomorrow.

I also added the missing OpenGL classes with: https://github.com/therecipe/qt/commit/f404f386ecd83754d5c28e6f73c85f5064784114

And here are the two example I used to test them:
https://github.com/therecipe/qt/tree/master/internal/examples/opengl/2dpainting
https://github.com/therecipe/qt/tree/master/internal/examples/gui/openglwindow (this one is a bit more

[2017-08-01 20:06] therecipe commented on #414
Hey

Yeah, I already looked into their modules some time ago and also created an example that made use of Kirigami back then: https://github.com/therecipe/qt/tree/master/internal/examples/3rdparty

It should also be possible to fully bind a C++ module, but I hadn't had time for that yet.
Is there some interesting module which I maybe should look into?

[2017-08-01 20:06] therecipe commented on #415
Hey

Sorry, I was a bit busy the last couple of days.
Did you resolved this error?

[2017-08-01 20:54] therecipe commented on #401
@RadhiFadlillah
Thanks a ton for your work on the wiki and also for your support :) I really appreciate it.

I initially didn't planned to make use of a wiki at all, because I never saw one that I really liked.
But this looks already better than the monstrosity of a readme that we currently have.

I'm a busy today, so I will look into it in more detail tomorrow and also help out a bit.
But it look

[2017-08-01 21:02] therecipe commented on #382
@RadhiFadlillah
Also thanks for the name suggestions :)
But I'm not really sure, I'm not really a fan of "go" prefixes or suffixes to be honest.

[2017-08-01 21:49] therecipe commented on #416
Hey

Yeah, those are not implemented yet.

I looked into it really quickly to estimate what might be needed to get this working.
And it seems like [FormatRange](http://doc.qt.io/qt-5/qtextlayout-formatrange.html) is a simple c struct an not a full class.
This makes things more complicated, since structs are not recognized at all yet.

If FormatRange would be a regular class, then it would be proba

[2017-08-02 02:59] 5k3105 commented on #404
omg. wow - awesome!

[2017-08-03 09:18] Huholoman commented on #382
Goqu is already taken by sql builder.

[2017-08-04 10:51] Kutabe opened #417 "qt/multimedia NewQMediaPlayer.SetVolume delay"
There is delay between function call and actual volume change. I don't see what causes this delay.

[code]

[code]

[2017-08-04 15:11] omac777 commented on #410
The event type is not an update request so it never renders.  the window/widget is interpreted as not exposed so it never renders either.  It seems as there is a layer of windows/widgets going on and it's confusing as to which events the QWidget Main Window should capture and handle.

I added some debug print messages on the events.  It seems as though there are QEvent's destined for QWidget and o

[2017-08-05 00:30] RadhiFadlillah commented on #306
Hey @therecipe @Fornax96, it seems Qt already [abandoned](https://codereview.qt-project.org/#/c/75757/) development of GTK style binding for Qt. Even in latest documentation for `QApplication::setStyle`, it said :

[2017-08-05 13:59] RadhiFadlillah opened #418 "Some question about tools"
Hey @therecipe, I've using this binding for several weeks, yet I still have some questions about the tools.

1. **What is the purpose of `-qt_dir` and `-qt_version` flags on `qtsetup` and `qtdeploy` ?**

   In [#392](https://github.com/therecipe/qt/issues/392#issuecomment-314626295) I've tried installing Qt 5.9.0 by setting `-qt_dir` and `-qt_version` flags like this :

[code]

   However this com

[2017-08-06 20:46] 5k3105 commented on #404
Maybe someone can have a look and see what I am missing:

[code]

[2017-08-06 21:36] therecipe commented on #417
Hey

I tested the widgets/video_player example with this patch on macOS, and the volume was changed  instantly. (The right slider is for the volume)

[code]

[2017-08-06 22:08] therecipe commented on #306
@RadhiFadlillah Thanks for the info :)

It's probably to time consuming to get it working on all the different distros ...

[2017-08-06 23:14] therecipe commented on #418
This is only a convenient way to quickly test another Qt version without the need to override your current env variables.
If you have two different Qt versions installed for example, then you can quickly test a deployment/build against the other version with `qtdeploy -qt_dir=... -qt_version=... build desktop ...`.

Yes it will be overridden, and you also don't need to run the docker setup to depl

[2017-08-07 12:00] Fornax96 commented on #306
That commit is for the GTK3 plugin. GTK2 is currently still supported, but the GTK developers are phasing it out in favor of GTK3, which has been declared stable for a while now.

If they really plan to abandon the GTK style plugin that will probably break a whole lot of apps. I already have dozens of Qt apps on my PC that use GTK style (VLC, Zim, KeePassX, etc).

I think it's very likely that the

[2017-08-07 15:07] RadhiFadlillah commented on #418
Hey @therecipe

So, basically those flags is only used if I don't want to set the environment variables. Instead, I have to run `qtsetup` and `qtdeploy` with same value in `-qt_dir` and `-qt_version` flags. For example, if I want to deploy using Qt 5.9.0 without setting permanent environment variables, I have to run :

[code]

So, if I'm using the minimal installation, there are no need to run `qt

[2017-08-07 15:07] #418 closed

[2017-08-07 15:49] Kutabe commented on #417
I did the same:
[code]
And when I slide it from min(0) to max(100) rapidly I get delay ~400ms.
I tried it on different hardware with the same Linux distro on it and got the same result.

[2017-08-08 03:43] RadhiFadlillah commented on #306
@Fornax96 have you tried deploying using docker image ?

I am using Go 1.8.3 on Manjaro Linux with Arc theme. When I try to deploy my app using locally installed Qt (`qtdeploy build linux`), it give me an app with fusion style :

![Fusion style only](https://user-images.githubusercontent.com/6129042/29054933-943c9958-7c23-11e7-90ed-e34ef7ee9b1a.png)

But when I deploy my app using docker image (`q

[2017-08-08 10:47] Fornax96 commented on #306
To be honest, I have no idea how docker works or how to use it. I thought it was kind of like virtutalbox.

I've been doing tons of research, reading through mailing lists and browsing through repositories. Eventually I found out that gtk2 style has been deprecated from Qt Base and was moved to qtstyleplugins for compatibility: https://github.com/qt/qtstyleplugins/tree/master/src/plugins/styles/gt

[2017-08-09 01:58] jrmiller82 commented on #401
https://www.qt.io/trademark/

[2017-08-09 10:43] DaleFarnsworth opened #419 "core.QItemSelectionModel.SetCurrentIndex() invokes bad c++ method"
Calling core.QItemSelectionModel.SetCurrentIndex(index, flag) results in the following error message:

QMetaObject::invokeMethod: No such method QItemSelectionModel::setCurrentIndex(QModelIndex,QItemSelectionModel::SelectionFlag)
Candidates are:
    setCurrentIndex(QModelIndex,QItemSelectionModel::SelectionFlags)

Thanks.

[2017-08-09 23:39] quiznilo1 opened #420 "qtsetup fails to run on Gentoo/Funtoo systems"
Can't get this to install on Funtoo x86_64 system:

QT_DIR=/usr/lib64/qt5 QT_VERSION=5.7 qtsetup
...
ERRO[0021] failed to run command                         cmd="/usr/lib64/qt5/5.7/gcc_64/bin/rcc -project -o /home/xxxx/go/src/github.com/therecipe/qt/internal/examples/qml/application/rcc.qrc" env= error="fork/exec /usr/lib64/qt5/5.7/gcc_64/bin/rcc: no such file or directory" func=RunCmd name="exec

[2017-08-10 02:12] neoxharsh opened #421 "Autocomplete do not work"
Autocomplete seems to be non working in any IDE, i have tried LiteIDE and GoGlang. It was working perviously. On GoGlang it shows that their are no buildable go source.

[2017-08-10 03:51] 5k3105 opened #422 "Example Web Browser"
https://github.com/5k3105/Coral

I will be using this as a base for my project but if you'd like to include it as an example you are welcome to copy it as it is now.

[2017-08-11 05:17] zhuwei opened #423 "run qtsetup in win7 32bit, gui widgets failed"
run qtsetup:
installing full qt/gui  failed to run command
installing full qt/widgets  failed to run command
please help me.

[2017-08-11 06:05] zhuwei commented on #423
and qt/quick

[2017-08-11 06:19] zhuwei commented on #423
and gui widgets sql svg multimedia quick failed

[2017-08-11 06:47] bigemon commented on #421
https://github.com/rogpeppe/godef/pull/44/files
Try this

[2017-08-11 13:00] omac777 commented on #410
Thank you again.  It helped a great deal.  I tweaked it to add an arcTo and discovered the paint context was rotated at the wrong angle.  It took me a while to determine that I need to wrap my painting tasks with p.Save() and p.Restore() in order to previous tasks' rotates not to effect the current tasks drawing operations.

[code]

[2017-08-11 17:21] 5k3105 commented on #423
I'd delete the entire therecipe/qt library and re-install. Just guessing.

[2017-08-11 18:59] 5k3105 commented on #421
When I was having trouble with IntelliJ, I was able to fix it by upping the memory settings:
See "Code Editor Settings (for code completion)" on main page.

[2017-08-11 22:25] neoxharsh commented on #421
It seems that only qt widgets is not auto completing, all others seems to work

[2017-08-11 22:34] 5k3105 commented on #421
because widgets is larger than the others. Increase memory size if possible.

[2017-08-12 00:22] mathieujobin commented on #414
would love this as well

[2017-08-12 00:27] mathieujobin opened #424 "Regular setup on ArchLinux"
Hello,

I have goland and Qt 5.9.1 installed through regular ArchLinux package.
but then picking up a QT_DIR is not obvious

`go get -u -v github.com/therecipe/qt/cmd/qtsetup` seems to be succesfully ran.
but I don't understand why this command on your README ends with `...` ?!?

then I set `QT_VERSION=5.9.1`
but I tried `export QT_DIR=/usr/lib/qt` and `export QT_DIR=/usr`

in the output, i see er

[2017-08-12 03:34] RadhiFadlillah commented on #424
Hey @mathieujobin

Since you are installing Qt using your package manager, you don't have to set `QT_DIR` and `QT_VERSION` on your environment variables. Instead, you have to export `QT_PKG_CONFIG=true`. For more details, you can check [wiki](https://github.com/therecipe/qt/wiki/Installation-on-Linux#package-manager).

but I don't understand why this command on your README ends with `...` ?!?

Tho

[2017-08-12 06:55] ShalokShalom commented on #414
I think the translation module is interesting. I read people writing, that this helps qt people too, automating their translations.

[2017-08-12 11:32] dncohen opened #425 "respond to onCreate or onNewIntent in android app?"
Hey,

I'm new to both Qt and Android, as well as these go bindings.  So far so good.  I have some example apps running in both linux and on android.  This is great!

I've figured how to modify android/AndroidManifest.xml to have my app handle intents, with a clause like

          <intent-filter>

            <action android:name="android.intent.action.VIEW" />
            <category android:name="

[2017-08-13 01:08] mathieujobin commented on #424
Oh Thank you ! this is awesome, i look forward playing with this

I'm new to go-lang, Qt is what i needed to get me onto it

[2017-08-13 01:08] #424 closed

[2017-08-13 02:44] 5k3105 opened #426 "ScrollToItem error"
code:
[code]

error:
[code]

[2017-08-13 04:41] mathieujobin commented on #424
Thank you !!!!

i ran the command again... and I got a bunch of errors, I'm not sure yet if these are a few examples that failed...

but I did get a bunch of examples to open up. and for that I am greatful.
this will help me a lot to get started.

in case it could be helpful, I am posting the full output here.

[code]

[2017-08-13 06:36] RadhiFadlillah commented on #424
`Unknown module(s) in QT: ...` means that the modules haven't installed yet in your system. To fix this, you can install all `qt5-*` [packages](https://www.archlinux.org/packages/?sort=&arch=x86_64&q=qt5-&maintainer=&flagged=) in your Arch system by running :

[code]

After it finished, run `qtsetup` again.

_Sent from my Lenovo P70-A using [FastHub](https://play.google.com/store/apps/details?id=c

[2017-08-13 15:08] joeblew99 opened #427 "example showing signing apps"
any chance you can show how to sign an app for google and apple stores ?

For android i do this in general:
https://docs.google.com/presentation/d/1PvlfcO5OU0Zlv3eISdIgUsRLpXsVaMvxX0C0c7iCvHg/edit#slide=id.g1530211a36_0_279

For IOS / OSX; i have not worked it out yet.

[2017-08-13 21:36] 5k3105 opened #428 "Unhandled QCompleter::filterMode flag is used."
code:

[code]

When set directly to Qt__MatchEndsWith everything works however, if set directly to Qt__MatchWildcard I get the error. If I comment every if statement out except the line that flips the Qt__MatchEndsWith bit, I still get the error.

[2017-08-13 22:23] 5k3105 commented on #428
A more complete example:

[code]

error:

[code]

[2017-08-14 09:03] zhuwei commented on #423
Thank you very much.
I will try.

[2017-08-14 18:33] ShalokShalom commented on #414
@therecipe I found this one, is very interesting in my opinion:
https://dot.kde.org/2016/03/30/kde-proudly-presents-kirigami-ui

This useful in order to provide the basement for an integrated style for QML apps, in addition to the other benefits.

I think it's a great candidate for you since it is a Tier 1, which means that it works without any other KDE Framework. It is useful for Qt developers s

[2017-08-14 20:18] amossam opened #429 "Multiple target cross compile"
Hey

I have smartos server where I created zone (vm) with ubuntu. I just executed commands for docker container, and successfully installed everything needed for building my project for linux (i'm developing on osx).

Then, on same vm, I followed steps for win_32_static docker container, and it worked!
for first time...
after first `qtdeploy build linux`, if I run `qtdeploy build windows`, it work

[2017-08-15 12:13] vahid-sohrabloo commented on #415
Yes, it's fixed. this is my mistake

[2017-08-15 18:28] therecipe commented on #417
Mh, I was able to reproduce it on manjaro with Qt 5.9.1 and
[code]
but it seems to works on macOS (only tested it with Qt 5.8).

It also seems to work on linux if you use "volumeSlider.SetSingleStep(100)" and then use the arrow keys to switch between 0 and 100.

So the problem seems to be that there are 100 volume change events emited in a very short time, when you move the slider by hand.

I will

[2017-08-15 18:49] therecipe commented on #418
Sorry, I'm bit bussy atm and will try to slowly work through the backlog in the next few days.

You don't need to re-run the setup with -qt_version and -qt_dir if you just want to quickly test the deployment against 5.9 or some other version and you already have 5.8 or some other Qt version installed. This is because qtdeploy will use qtminimal to create a subset of the needed binding code on the

[2017-08-15 18:53] therecipe commented on #404
I will take a look in the next few days, maybe there is the need to change some of the OpenGL function apis for this to work.

[2017-08-15 18:55] therecipe commented on #419
Hey

I will look into it.

[2017-08-15 19:00] therecipe commented on #420
Hey

It seems like you are trying to use the Qt libs provided by your systems package manager or?
If yes, then maybe unset QT_DIR and QT_VERSION and instead just set QT_PKG_CONFIG=true.
Then just re-run the setup.

[2017-08-15 19:04] therecipe commented on #422
Awesome, thank you :)
I will copy it and create a new example tomorrow.

[2017-08-15 19:09] therecipe commented on #423
@zhuwei
Ah, yeah the gui and widgets module will need more then 2GB ram an therefore it's not possible to install them on 32 bit systems atm. (I will try to get it working again in the future, but it's a bit of a hassle because it will always scratch at the 2GB limit)

What you can do is set QT_STUB=true and then re-run the setup, that way you will be able to install the gui and widgets module as

[2017-08-15 19:17] therecipe commented on #414
@ShalokShalom I will look into the translation module in the next few days.

And I already added an example that shows how to use Kirigami here: https://github.com/therecipe/qt/tree/master/internal/examples/3rdparty/kirigami :)

[2017-08-15 19:22] therecipe commented on #426
Will look into this.

[2017-08-15 19:37] therecipe commented on #427
Yeah, the info for android is a bit hidden under: https://github.com/therecipe/qt#branding-3

[code]

For macOS or iOS, you will need to use Xcode.
There you can chose a provisioning team/provile and then it will be automatically signed when you click the build button.
It's probably also possible to sign it from command line, but I haven't looked into that yet.

[2017-08-15 19:48] therecipe commented on #428
It seems like the old moc files cause this, maybe remove this and try again.
The full example you posted, works for me.
And if I run qtmoc there are no moc files created (as it should be).

[2017-08-15 20:09] ShalokShalom commented on #414
So, you are Marco Martin, who actually implemented the look and feel module with Thomas Pfeiffer? ^-^

[2017-08-15 20:22] therecipe commented on #425
Hey

You will need to create your own activity: https://github.com/therecipe/qt/blob/master/internal/examples/androidextras/notification/android/src/org/qtproject/example/notification/NotificationClient.java
+ the overriden onCreate + onNewIntent functions

And then let the Java activity callback into Go code: https://github.com/therecipe/qt/blob/master/internal/examples/androidextras/jni/android/

[2017-08-15 20:36] therecipe commented on #429
Hey

Yeah, sorry I think that's a caching issue.
Maybe try to remove the file that contain "_plugin_import" in their name, in between the builds in "therecipe/qt/{core,gui,widgets, ....}" .

But if you only use docker images, then this shouldn't be a problem.
Does this:

[code]
work for you?

(Btw, you can also use `windows_32_shared`, `windows_32_static`, `windows_64_shared` and `windows_64_stati

[2017-08-15 20:43] amossam commented on #429
thanks for reply...

No, I'm not using docker images, only this vm that I build for this...

If I remove this files, do I need to do qtsetup generate <target> again or not ?

thanks!

[code]

[2017-08-16 02:10] 5k3105 commented on #428
Updated to latest version. Same result. qtmoc generates moc files.

[2017-08-16 08:01] zhuwei commented on #423
@therecipe I understand . Thank you very much!!!

[2017-08-16 08:01] #423 closed

[2017-08-16 11:31] joeblew99 commented on #427
thanks. makes sense. Wil try this way..

[2017-08-16 11:31] #427 closed

[2017-08-16 20:51] amossam commented on #429
ok, after `find . -type f -iname "*_plugin_import*" |xargs rm` in `$GOPATH/src/github.com/therecipe` folder, it builds windows and linux target without a problem.... and the files are not regenerated...

So, now it's working! Thanks!

Btw, what and why generated that files, when/if they are not needed?

Again thanks for help, and for this great project of yours.

[2017-08-16 22:30] mathieujobin opened #431 "slow build time"
I started to play around and build myself a small app based on the gallery example

but I was slowdown my compile time..

I am using `QT_PKG_CONFIG=true ~/go/bin/qtdeploy test desktop .`
to recompile and launch my project, which takes 2 minutes on my small laptop...

decided to move my changes to the C++ example, takes 2 second to compile...

this is a big different, it slow me down quite a bit wh

[2017-08-17 02:14] RadhiFadlillah commented on #431
Hey @mathieujobin

The deployment process is slow because (AFAIK) this binding uses `cgo` to call Qt's API from Go.

`cgo` is an amazing tool which allows Go programs to interoperate with C libraries. However, there are some [trade-offs](https://dave.cheney.net/2016/01/18/cgo-is-not-go) that happened from using `cgo`, and one of them is slower build times.

When there are `cgo` in your project, `g

[2017-08-17 09:22] RadhiFadlillah commented on #428
@therecipe @5k3105 can confirm the example works in Manjaro Linux 64-bit with Qt 5.8.0, deployed using both normal `qtdeploy` and `qtdeploy -docker`.

[2017-08-17 20:40] therecipe commented on #429
Yeah, sorry you don't need to re-run the setup after removing them.

The *_plugin files are needed for the static windows builds, but they seem to cause problems with some other targets if they are not removed prior compiling.

I will look into this, maybe I can use some build tags or maybe I will just let qtdeploy remove them before/after each build.

You are welcome :)

[2017-08-17 20:48] amossam commented on #429
But files are not regenerated. I build multiple times linux and windows targets, and they build succesfuly, but those files are not regenerated...

Anyway, solution is found!

Thanks again

_Sent from my Samsung SM-G955F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 21:58] therecipe commented on #431
@mathieujobin You should generally use "qtdeploy -fast build ..." or "go build ..." (+ qtmoc, qtrcc) during development like @RadhiFadlillah said, and only use "qtdeploy build ..." for the actual deployment.

[2017-08-17 22:03] 5k3105 commented on #428
thanks. Did you test the flagset_statechanged uncommented? You did not get ```Unhandled QCompleter::filterMode flag is used```?
@RadhiFadlillah

[code]

[2017-08-17 22:10] therecipe commented on #419
Should be fixed now with: https://github.com/therecipe/qt/commit/7840b778c38f5872ad67f1f0451ea252812536ee

[2017-08-17 22:10] therecipe commented on #426
Should be fix with: https://github.com/therecipe/qt/commit/7840b778c38f5872ad67f1f0451ea252812536ee

[2017-08-17 22:17] therecipe commented on #414
@ShalokShalom Nope, sorry :D I'm not affiliated with KDE or TQtC at all.

[2017-08-17 22:33] therecipe commented on #428
@5k3105 Sorry, I meant you need to remove the moc* files from your project folder first. After that there should be no new moc* files created, when you run qtmoc.
If not, then could you maybe post the "qtmoc -debug" log?

[2017-08-18 00:42] RadhiFadlillah commented on #428
@5k3105

Yes, and the code compiles without problem.

I did get them, but only as warning when the app is running :

![Screencast](https://user-images.githubusercontent.com/6129042/29439549-913b464c-83e8-11e7-9bfd-611ba1834b79.gif)

[2017-08-18 00:49] 5k3105 commented on #428
@RadhiFadlillah haha. Thanks for the animation there :p
When I was able to get it compiled within my larger program it gave those errors and the match lookup did not behave correctly.

[2017-08-18 00:57] mathieujobin commented on #431
Oh nice ! thank you I will try that.

Every single unix command line should provide a `-fast` switch, I should have thought about that

now if `cgminer -fast` could generate me more bitcoins, that would fantastic

thank you

[2017-08-18 01:00] mathieujobin commented on #431
oh, before I open a new issue... I wonder if it is related with `cgo` having to do all that work and making everything a lot slower ?

Would it be possible to add support for Android with `QT_PKG_CONFIG=true` ?

I have no idea how much work is involve....

[code]

thanks

[2017-08-18 07:00] ShalokShalom commented on #414
So, the KDE support might influence the naming? https://github.com/therecipe/qt/issues/382
And i guess that Qt might be interested to include a complete binding, did you ask them already?

I mean, in order to act as an official Qt project?

You might also want to post your intention to create KDE bindings on KDE Planet and so on, they are hearty welcome for sure, since Go is the second language wi

[2017-08-18 07:13] myml opened #432 "ConnectJavaScriptConsoleMessage invalid"
this is my code

[code]

[2017-08-18 17:47] therecipe commented on #432
Hey

[javaScriptConsoleMessage](http://doc.qt.io/qt-5/qwebenginepage.html#javaScriptConsoleMessage) is not a signal, therefore you will need to create a new instance with `NewQWebEnginePage` first.

This should work:
[code]

[2017-08-18 17:55] therecipe commented on #428
Ah, okay didn't realized that it was a runtime issue :D

It seems like most of the flags are not implemented yet:

from: http://doc.qt.io/qt-5/qcompleter.html#filterMode-prop

[2017-08-18 19:53] 5k3105 commented on #428
lol. Thought I read the docs on that too. Sorry.

[2017-08-18 19:53] #428 closed

[2017-08-18 19:53] 5k3105 commented on #422
ok. closing this then.

[2017-08-18 19:53] #422 closed

[2017-08-18 20:40] ignusius commented on #349
@therecipe I've updated crypto, but this error show too. :(

[2017-08-18 21:49] 5k3105 commented on #426
works. thank you!

[2017-08-18 21:49] #426 closed

[2017-08-19 00:56] #432 closed

[2017-08-19 10:05] #332 closed

[2017-08-20 02:33] 5k3105 commented on #404
I think if QImage had this constructor: http://doc.qt.io/qt-5/qimage.html#QImage-5

I could take a stab at implementing it using just a QImage as the display surface: https://stackoverflow.com/questions/26229633/use-of-qabstractvideosurface#26231772

Not sure the performance difference between Qimage and OpenGLWidget will be though.

[2017-08-20 14:18] qZanity opened #433 "Multiple gcc/mingw installations"
Hello.

I currently have an existing mingw/gcc installed on my system, and the /bin directorys in my PATH env variables.

To use this qt package we require to add another mingw/gcc /bin to the system PATH. (from the qt/tools directory)

How do i get qtdeploy and other tools to use the correct gcc.exe? as it's using the one that appears first in my PATH variable. It works if i remove the other PATH

[2017-08-21 18:03] therecipe commented on #410
Awesome, I just tested it on Linux and macOS :)
Can I use it as an example?

[2017-08-21 18:05] therecipe commented on #422
Thanks again, I added it here: https://github.com/therecipe/qt/tree/master/internal/examples/webkit/coral

[2017-08-21 23:51] 5k3105 commented on #422
Thanks :+1:  Better to name it examples/webkit/browser because this is only the start of that coral project.

[2017-08-22 17:51] #429 closed

[2017-08-23 01:20] bclermont opened #435 "qtdeploy mkdir panic"
This bug appeared in the latest build

[code]

[2017-08-23 09:10] omac777 commented on #410
Of course! Thanks for the compliment.

[2017-08-23 11:16] quantonganh commented on #435
https://github.com/therecipe/qt/blob/master/internal/cmd/deploy/bundle.go#L89

The reason is our module name is `lib`:

[2017-08-23 22:18] therecipe commented on #349
@ignusius maybe try to run:
[code]

[2017-08-24 09:04] hubyhuby opened #437 "Question : " Go get therecipe/qt ""
Hi Thereceipe,

It could be a nice feature to be able to do a "go get" like with most golang project / library.
I am not an expert and don t know anything about Docker. Maybe my question is out of focus...

What I love with go it is its simplicity, at the core of it. Things like "go get" is super powerful & Works out of the box. Asking people to install and learn Docker (even if it is simple), is

[2017-08-24 13:28] sisyphsu commented on #315
@therecipe The example can't run, lots of compile error.

[2017-08-24 15:57] 5k3105 commented on #437
You don't have to use the docker version. Download the qt distro then go get this lib.

[2017-08-24 16:02] 5k3105 commented on #433
I use https://www.rapidee.com/en/download when I need to re-order env-vars between programs. It is kind of a pain switching between compilers though.

[2017-08-24 20:09] therecipe commented on #315
@sisyphsu Did you run the setup first?

[2017-08-24 21:51] therecipe commented on #437
@hubyhuby
No problem, this is a good place to ask questions as well :)

Yeah, beeing able to simply go get this package would be nice, but that's a bit difficult to realize due the dependecy on cgo. However, maybe there will be support for godep in the future to make things a bit simpler to setup.

[2017-08-24 22:08] therecipe commented on #435
Yeah, `lib`, `linux` and `qml` are somewhat reserved names on linux.

[2017-08-24 22:48] therecipe commented on #431
Yeah, some of the slow down comes from using cgo but the most is due the use of qtmoc, qtrcc and qtminimal by qtdeploy.

I have no idea how much work is involve....

I will look into it.
Which distro do you use? Arch?

[2017-08-24 23:00] therecipe commented on #404
Mh, it's probably a bit more difficult to implement this constructor due the use of the`QImageCleanupFunction cleanupFunction`. I will take a look.

If you don't need the cleanup function, then did you already tried to use something like: http://doc.qt.io/qt-5/qimage.html#fromData ?

Or something like this:
[code]

[2017-08-24 23:35] therecipe commented on #414
I'm not sure but probably not, unless there is very good reason.
But I will try to come up with some name in the next few weeks.

Yeah, I was asked already some time ago if I would be interested in upstreaming the project.
But haven't heard from them in a while. I might get into contact with them in the near future though.

All the other languages left us in KDE SC 4.

Yepp, will do when I start t

[2017-08-25 00:41] 5k3105 commented on #404
Hi,

From what I can tell, ```present``` is not being called. Printing from inside it does nothing.

I can tell the video is playing because I can hear sound. Otherwise the screen is just never painted.

[code]

[2017-08-25 02:27] mathieujobin commented on #431
Yes Arch mainly

Thanks

[2017-08-25 21:21] r03 commented on #421
It does work in vim with vim-go. (also widgets)
I guess some IDE's have problems with large files/packages?

[2017-08-27 12:19] freboat opened #438 "link failed when import sqlite3"
in any widget example,  import sqlite3, g++ link failed:
such as  therecipe/qt/internal/examples/widgets/video_player

[code]

when deploy, it failed and  complain:
_/media/sf_GOPATH0/src/github.com/therecipe/qt/internal/examples/widgets/video_player
# _/media/sf_GOPATH0/src/github.com/therecipe/qt/internal/examples/widgets/video_player
/usr/local/go/pkg/tool/linux_amd64/link: running g++ failed:

[2017-08-28 03:34] 5k3105 opened #439 "type Qt__ItemDataRole"
```func (ptr *QModelIndex) Data(role int) *QVariant ```

Noticed role not typed as Qt__ItemDataRole

[2017-08-28 06:47] sisyphsu commented on #315
@therecipe I resolved it yet, use `qtmoc` command, thanks~

[2017-08-29 08:37] ChrisFernandez commented on #367
ok, sorry took some time. summer was full of hacking conferences specially in las vegas so did not put any focus on this, now I am back to exploring GO+QT so will give this a try and report back.

[2017-08-29 10:26] hubyhuby commented on #437
Hi,
The new readme commited recently is much much better .
It now gives clear indications on how to start with the library.
It brings you first to the "minimal installation", which is what  people like me wish, in order  to give it a try.
https://github.com/therecipe/qt/wiki/Installation

Thanks a lot

[2017-08-30 15:14] m-kuhn commented on #138
As reference for others ending up here, this message is shown when a Qt app fails to load some libraries at startup. The best way to get insights into what's happening is to kill the app if it's still running and restart it while checking with `adb logcat` what's going on.

[2017-08-30 21:01] muesli opened #440 "Projects with a Makefile"
I'm trying to use these bindings in a project which uses a `Makefile` as a wrapper for calling `go build` - out of convenience and to better deal with git submodules. Calling `qtdeploy build desktop` from the Makefile works and builds just fine, but afterwards my Makefile gets deleted. I guess it's used and overwritten in the process of deploying.

Could you generate and run those files in a separ

[2017-08-30 21:33] #435 closed

[2017-08-31 04:38] bclermont opened #441 "qt/quick can't build anymore on Linux with QT 5.9.1"
[code]

[code]

[2017-08-31 04:48] bclermont commented on #66
I suffer from the same problem right now, a blank MacOSX sierra with Xcode latest version and it still refers to `SDKs/MacOSX10.11.sdk` which don't exists anymore

@therecipe where this value is made from, because this function https://github.com/therecipe/qt/blob/master/internal/utils/darwin.go#L17  isn't used

so, how that path is built with?

[2017-08-31 05:45] bclermont commented on #441
look like my sandbox was full of previous build and garbage like that.

to take no chances, I started from a fresh `git clone` and it worked

[2017-08-31 05:45] #441 closed

[2017-08-31 06:20] bclermont commented on #66
left over from a previous build

[2017-08-31 10:52] ShalokShalom commented on #382
It might be nice to offer a template for the Qt Creator:

![screenshot_20170831_125104](https://user-images.githubusercontent.com/6344099/29919844-38410b18-8e4b-11e7-8606-288dcfcc35f1.png)

[2017-08-31 19:55] hubyhuby commented on #437
Guess I am getting closer ....
I managed to launch the docker image , with the following command (wich could be added to the install doc):

**sudo docker run -it therecipe/qt:linux bash**

The deploy command the "easy way" doesn t look so good :

root@decd5dc673fc:~/work/src/ex01# qtdeploy -docker test desktop
ERRO[0000] failed to run command                         cmd="docker run --rm -e IDUG=0:

[2017-09-01 23:18] 5k3105 commented on #437
why use docker? why not just install to linux or windows directly?

[2017-09-01 23:20] 5k3105 commented on #438
did you try not using an underscore in front of the import?

[2017-09-02 05:32] kitech commented on #431
After the first time `QT_PKG_CONFIG=true ~/go/bin/qtdeploy test desktop .`, you even can build with `go build .`.
If you resource changed, need rerun the slower full build command.

[2017-09-02 05:59] RadhiFadlillah commented on #438
@freboat in my Manjaro Linux it works without problem :

![sqlite3](https://user-images.githubusercontent.com/6129042/29993322-540f3d3a-8fde-11e7-8ea0-b1c54a58242a.gif)

[2017-09-02 06:07] hubyhuby commented on #437
Dear @5k3105 ,
Thank you so much for following.
I am trying to try your QT library :) Therefore I am mostly looking for the easiest path to build my "hello QT / Go" program. Following your readme Install it says "Minimal Installation" which I translate into "easy kinda".

https://github.com/therecipe/qt/wiki/Installation
The very first step described is the Docker stuf.
There is no install path **

[2017-09-02 06:13] kitech commented on #381
so good point. hope to use it.

[2017-09-02 06:27] RadhiFadlillah commented on #437
@5k3105 there are some reasons we prefer using docker instead regular installation, for example :

- For some people, it might be easier to get started using docker image.
- Using docker make cross compiling to other platform really easy. For example, if you are using regular installation, to deploy from [Linux to Windows](https://github.com/therecipe/qt/wiki/Deploying-Linux-to-Windows-32-bit-Stat

[2017-09-02 06:47] hubyhuby commented on #437
Dea @RadhiFadlillah ,
Thanks
I suppose you are missing a step?? 2.1 : "sudo docker run -it therecipe/qt:linux bash"
That s what I do to get a bash with this docker image... Also I know about nothing in Docker...
I did the go get with thr "..."  , also there is already the qt package in src... in this docker image
root@1d530d12593e:~/work/src/github.com/therecipe/qt# ls

Finally I try qtsetup which

[2017-09-02 07:27] RadhiFadlillah commented on #437
That s what I do to get a bash with this docker image...

No @hubyhuby, I think that is where you are wrong. You must use the bash from your own system, not the bash from docker image. BTW, what is your operating system ?

[2017-09-02 07:38] hubyhuby commented on #437
Dear @RadhiFadlillah ,
I did try it too...when I am in my own bash on Ubuntu MATE 17.04  after doing your go get, I run

/projects/src/qtexample$ qtdeploy -docker test desktop
qtdeploy: command not found

OR
GE72-2QF:~/Documents/projects/src/qtexample$ qtdeploy
qtdeploy: command not found

OR
~/Documents/projects/src/qtexample$ qtsetup
qtsetup: command not found

At least when I am in the docker b

[2017-09-02 07:52] RadhiFadlillah commented on #437
@hubyhuby those `command not found` might be caused by the `$GOROOT/bin` is not included in your `$PATH`.

I see that you installed `go` in `~/Documents/projects`. Have you set the `$GOROOT` and `$PATH` environment variables by following tutorial from [Golang.org](https://golang.org/doc/install#tarball) ?

Can you show me the result of these commands :

- `echo $GOROOT`
- `echo $PATH`
- `cat $HOME

[2017-09-02 08:01] hubyhuby commented on #437
@RadhiFadlillah
Note that, All my other go projects compiles correctly (using go get) such a couchbase, UUID and others.
The go get you gave me works correctly.

echo $GOROOT
/usr/lib/go-1.7

echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/lib/jvm/java-8-oracle/bin:/usr/lib/jvm/java-8-oracle/db/bin:/usr/lib/jvm/java-8-oracle/jre/bi

[2017-09-02 08:14] RadhiFadlillah commented on #437
Open your `$HOME/.profile` using `nano`, `gedit` or other text editor, then add following lines to the end of file :

[code]

Restart your system, then run `qtsetup` again. It should (hopefully) works.

[2017-09-02 08:44] hubyhuby commented on #437
Hooray @RadhiFadlillah !
I have some life in my bash now , after modifying the profile .
The basic sample doesn t compile. Guess I am now entering the docker world ;)

qtdeploy -docker test desktop
ERRO[0000] failed to run command                         cmd="docker run --rm -e IDUG=1000:1000 -v /home/yann/Documents/projects:/media/sf_GOPATH0 -e GOPATH=/home/user/work:/media/sf_GOPATH0 -i therecip

[2017-09-02 14:42] hubyhuby commented on #437
HoorayX2  @RadhiFadlillah,
Got the "hello world" to work! So cool. Thanks for your help.
There was one thing disturbing me when you run " qtdeploy -docker test desktop"
You can type in the command line while it is compiling the thing....which made me thing it was bugging !!!
Could we put a little message "Deploying your project, please wait ..."

PS: I finally did a last thing, before it work...bu

[2017-09-02 16:03] hubyhuby commented on #398
Hello there,
Now that I have everything installed, I tried finally to "deploy" the example on my linux unbuntu 17.04.
Once deployed, without error or warning showing up.  I am trying to launch the soft, but end up with an error :

/Documents/projects/src/github.com/therecipe/qt/internal/examples/quick/photoviewer/deploy/linux$ ./photoviewer.sh
QQmlApplicationEngine failed to load component
qrc:///

[2017-09-03 02:36] 5k3105 opened #443 "Tree Edit Example"
https://github.com/5k3105/Tree-Edit-Example

You may add it to the examples if you like. It depends on https://github.com/scritchley/orc for loading and saving.

[2017-09-03 02:51] mathieujobin commented on #431
thanks all ! much appreciated

[2017-09-03 02:51] #431 closed

[2017-09-03 16:44] nursarowar opened #444 "Frameworks & PlugIns missing from mac .app/Contents"
I have upgraded QT to Qt5.9.1 with homebrew and therecipe/qt to the latest head and ran qtsetup.

Example app and my app is working fine with "qtdeploy test darwin" and "qtdeploy build darwin".

However, the generated .app does not include Frameworks & PlugIns inside Contents (like the old version I was using). I have copied the app to a different computer that does not have qt installed and the a

[2017-09-03 17:26] hubyhuby commented on #437
I can confirme each time I reboot the deploy command doesn t work and I have to do :+1:
sudo gpasswd -a $USER docker
newgrp docker
And then : qtdeploy -docker test desktop

I understand this must be an issue related to docker / install, but it may help other testing this lib ;)

[2017-09-03 19:09] abhishekgarg120 opened #445 "Issue while compiling with third library"
Hi,
I am developing on a mac and following the instructions to install docker for building windows and linux packages, but I'm having an issue. I use the following command to build the windows library

`qtdeploy -docker build windows_64_static /opt/repos/my_app`

and it doesn't compile. I found that its crashing because I'm using another go library in my app, gopkg.in/yaml.v2, when I don't use tha

[2017-09-04 02:47] RadhiFadlillah commented on #437
@hubyhuby glad that it works for you.

To run `docker` without `sudo` privileges, you have to run following [commands](https://docs.docker.com/engine/installation/linux/linux-postinstall/#manage-docker-as-a-non-root-user) :

[code]

After that, log out from your system, then log in again. Now you should be able to run `docker` without `sudo`.

That error is happened because Docker hasn't been enab

[2017-09-04 17:03] Matt-Texier opened #446 "Size of generated files / IDE"
Hi,

Nothing to do with anything regarding the software itself which is just great for golang lovers.

I am using golang IDE which help for productivity and in particular to parse object class and methods and correct issues on the fly. However, the size of files generated by qtsetup could be massive and makes the IDE suffering for indexing all class and methods.

Would it be possible in a future r

[2017-09-04 20:48] therecipe commented on #421
@r03
Yepp, depending on your editor/IDE you might need to increase the memory size or edit the default timeout for go-code: https://github.com/therecipe/qt/wiki/FAQ#how-to-make-ides-code-completion-works-

For some editors such as Atom, Sublime or LiteIDE it works out of the box though.

[2017-09-04 21:10] therecipe commented on #439
Mh, yeah that's because it is an `int` parameter in c++ as well: http://doc.qt.io/qt-5/qmodelindex.html#data
But this can probably be fixed with the new typedef syntax in Go 1.9.
I will look into it, if it works then there is no need to convert the int's into enums anymore and vice versa.

[2017-09-04 21:17] therecipe commented on #382
@ShalokShalom Yepp that would be nice, and I think it's also already in the works: https://github.com/gotschmarcel/qtcreator-go
But I haven't really looked into that yet.

[2017-09-04 21:18] therecipe commented on #438
@freboat
Just tested it on macOS and Manjaro with and without docker as well.
Maybe pull the latest linux image and then try again?

And/or maybe try to run "go clean -i github.com/mattn/go-sqlite3" first, it could be that the cached version of go-sqlite3 on your host system causes this.

[2017-09-04 21:22] therecipe commented on #431
@kitech @mathieujobin
Just for the reference, you can also use qtmoc and qtminimal directly if some resources or moc structs change. That's most of the time faster than re-running the full qtdeploy process.

[2017-09-04 21:27] therecipe commented on #444
@nursarowar

Hey, yeah the Homebrew version is not really intended to be used to deploy "stand alone" applications.
You would need to install the homebrew version of Qt on your target machine as well for this to work.

If you want to really have applications that don't depened on a pre installed Qt version, then you will need to deploy your application after you ran the "regular" setup with the pr

[2017-09-04 21:32] therecipe commented on #445
Hey

Can you maybe provide the output of qtdeploy?
It should work out of the box usually, as the docker container will use your host's go packages as well.

You only need to share your GOPATH with docker first. (You can use the docker GUI tool to do this on macOS)

[2017-09-04 21:42] therecipe commented on #446
Hey :)

Yeah, it should be possible but I'm not sure if this would solve the Gogland / IntelliJ issues.
(I will test it, if I find time though)

In the meantime you could try to increase the available memory size: https://github.com/therecipe/qt/wiki/FAQ#how-to-make-ides-code-completion-works-
That should make code completition for the widgets and gui package work.

Merged it, and yeah the travis/

[2017-09-04 21:47] therecipe commented on #440
Oops, should be fixed now with: https://github.com/therecipe/qt/commit/ddaa55df8d2bd7690f8eec56763d7a6b9222bf43

The problem was related to the internal use of qmake by qtrcc, qtmoc and qtdeploy.

[2017-09-04 21:49] therecipe commented on #443
Thank you :)
I will add the link to the readme, when I update it tomorrow.

[2017-09-04 21:49] abhishekgarg120 commented on #445
Hi, Yes I reinstalled everything and then it worked, my linux and windows distribution are working but I'm having issue with mac, when I build a package and then copy it to another mac, it doesn't work, I read that its a dynamic build, but is there any way that we can package everything in one app?
I tried the otool and install_name_tool to copy all the required lib and then relinking them one by

[2017-09-04 21:58] therecipe commented on #445
Do you use the homebrew version of Qt?
If yes, then you will need to install the regular version of Qt instead as well, as only the regular version is able to produce "stand alone" applications atm.
Also maybe take a look here for more info: https://github.com/therecipe/qt/issues/444#issuecomment-327030139

(You can also switch anytime between the homebrew and regular Qt version by exporting/unset

[2017-09-04 22:05] muesli commented on #440
Updating & testing right now...

[2017-09-04 22:17] Matt-Texier commented on #446
Hey :) Thanks for your reply,

I just increased JVM memory of IntelliJ ... things are getting better but not as fast as it should be to be really usable. Anyway, not a big deal ...

Maybe a last question if I may ... I am working on a designing a software that will have to be in production by end of the year beginning of next year.

Would you consider your qt golang wrapper mature enough for me to

[2017-09-04 23:41] therecipe commented on #446
Mh, yeah it is actually mature enough for most small / medium use cases.

However, there could be still some API's missing that might be critical to have, such as those that are OpenGL related, or other lesser used functions such as: https://github.com/therecipe/qt/issues/416

The other things that still need work are all related to the tooling, such a namespace issue related to qtmoc or some bina

[2017-09-05 00:18] neoxharsh commented on #421
I have tried LiteIDE and it is not working

[2017-09-05 03:19] 5k3105 commented on #443
Sure. Thanks :)

[2017-09-05 03:19] #443 closed

[2017-09-05 06:03] vahid-sohrabloo opened #448 "Question: get fmt.Println in ios-sumulator system.log"
How do I get fmt.Println() or errors on ios-simulator system.log?I
I don't have any message in system.log

[2017-09-06 14:53] hubyhuby commented on #398
Dear @therecipe ,
I confirm I cannot get the example "photoviewer" to work on ubuntu linux 17.04 (cf previous post)
using "qtdeploy -docker test  desktop". All other example I have tried runs fine.

Also **it runs  perfectly on  android** after deploying and installing the apk on my phone :
"qtdeploy -docker build android"
(actually I would have thought the opposite would happen, that it would be

[2017-09-06 15:01] hubyhuby commented on #437
Dear @RadhiFadlillah ,
Everything is working perfectly now on my system, THANKS :)
Bottom line maybe, a "tips about docker " page would be usefull for people starting (also I understand this is not a place to learn docker). The two following tips you gave me , got it to work on my machine:
"
To enable it, run following commands :
sudo systemctl enable docker
sudo systemctl start docker
Now, you ca

[2017-09-06 15:01] #437 closed

[2017-09-06 15:03] nursarowar commented on #444
Qt5.9.1 "macdeployqt" works! Thanks

[2017-09-06 15:03] #444 closed

[2017-09-08 11:28] nursarowar opened #449 "Deploy from macOS to Windows by using docker not working anymore"
Used to work very well, after upgrading to latest version.

qtdeploy -docker build windows_64_shared
qtdeploy -docker build windows_32_static
qtdeploy -docker build windows_64_static

None of the builds are working.

Error

_cgo_main.c: In function 'crosscall2':
_cgo_main.c:2:23: warning: unused parameter 'fn' [-Wunused-parameter]
 void crosscall2(void(*fn)(void*, int, __SIZE_TYPE__), void *a, int

[2017-09-10 04:21] freboat commented on #438
thanks to @all
the command "go clean -i github.com/mattn/go-sqlite3"  works
now my prj compiles success

[2017-09-10 19:50] mewmew commented on #382
If it has to be renamed, I'd go for `cute`; as that is both memorable and roughly how I could pronounce qt.

[2017-09-11 12:10] Litarvan opened #450 "Build constraints exclude all Go files in %GOPATH%\src\github.com\therecipe\qt\gui"
When i try to build using `go build -o myapp.exe main.go`, it exit with an error :
[code]

I really don't know what to do, at first it was printing me the "unimplemented: 64-bit" error, so i changed GOARCH to 386 and it prints the following error now.

I thought "Maybe i need to re-run qtsetup with GOARCH=386", but when i do it, it prints
[code]

Here are my infos :

[code]

[2017-09-11 21:53] abhishekgarg120 commented on #450
did you try the [`qtdeploy build desktop`](https://github.com/therecipe/qt/wiki/Getting-Started#starting-application)

also, you can use the [docker](https://github.com/therecipe/qt/wiki/Deploying-Windows-to-Linux) method for building cross platform version, I am working on mac and deploying it for linux and windows without any issues.

[2017-09-12 06:50] hello-code commented on #353
Change **https** to **http** solved my issue.
`deb http://pkg.mxe.cc/repos/apt/debian jessie main`

[2017-09-12 08:34] Litarvan commented on #450
`qtdeploy build windows` works, but i don't want to do this each time i want to test my project.
And i'm not cross compiling, i'm simply compiling from windows to windows.

[2017-09-12 09:00] Litarvan commented on #450
Setting CGO_ENABLED to 1 fixed the issue ^^
(In fact, i found it by doing qtdeploy build desktop for the 15 times, in the wrong folder, it displayed me the args given to go build, and i saw this, so thanks @abhishekgarg120 )

[2017-09-12 09:00] #450 closed

[2017-09-12 14:10] SimplicityApks commented on #259
@therecipe can you elaborate on why you chose the LGPL instead of the **GPL** if you're so concerned about commercial use of the lib?
LGPL has all kinds of backdoors to still allow modification without disclosing source like dynamic linking and then reflection. Right now shared libs in Go are still half-baked but could easily become more common (and work better) if more parties use this approach.

[2017-09-12 15:17] jrmiller82 commented on #259
@SimplicityApks Because he wants to make money with a dual license, where you can pay for a commercial license that doesn't care about being statically linked.

[2017-09-12 16:15] SimplicityApks commented on #259
Yeah I get that, just don't understand of LGPL over GPL if we can only really statically link in Go. It first looks like free to use until you remember Go's static linking and then it is kinda sometimes still free for commercial use. Very unclear and stupid if you ask me. Might as well go GPL all the way. The LGPL only makes sense in a dynamically linked Linux distribution world using C (where it

[2017-09-12 17:46] #445 closed

[2017-09-13 12:08] vahid-sohrabloo opened #451 ""morestack on g0" error on IOS"
Sometimes I have "fatal: morestack on g0" error only in IOS.
I don't have this error on Linux android and mac.
I use qml and bind signals to go.
Whats mean this error and how to fix it?

[2017-09-13 12:09] vahid-sohrabloo commented on #448
I open in xcode and run with xcode show me all message

[2017-09-13 12:09] #448 closed

[2017-09-13 13:56] freboat opened #452 "how can display Chinese"
[code]
it cannot display Chinese in the textbrowser,  but golang println to  stdout ok

[2017-09-13 15:09] Kutabe opened #453 "Using system QT"
Is there any way to make qtsetup work with system installed QT?
What I mean is, I use Arch Linux and I'm trying to make a PKGBUILD for qt: qt bindings for go (Golang).
So qtsetup acts like ./configure and make, but it wants an odd file structure. It wants Docs to be installed in $QT_DIR/Docs/QT-$QT_VERSION/ when it's located in /usr/share/doc/qt/ and it wants qmake to be located in $QT_DIR/QT-$QT_

[2017-09-14 06:24] hello-code commented on #452
[code]

![screenshot_2017-09-14_14-20-43](https://user-images.githubusercontent.com/7741586/30414869-316adf36-9958-11e7-93b6-69bd219c95cd.png)

![screenshot_2017-09-14_14-23-00](https://user-images.githubusercontent.com/7741586/30414922-4a828afa-9958-11e7-8504-c422f0e453c4.png)

[2017-09-14 07:59] willeponken commented on #453
Hello,

Have you read: https://github.com/therecipe/qt/wiki/Installation-on-Linux#package-manager?
By using the `QT_PKG_CONFIG=true` environment variable `qtsetup` should use your systems version of Qt.

[2017-09-14 09:09] wuzzapcom opened #454 "gui and widget packages are invisible"
I am unable to create new window via function gui.NewQGuiApplication() or widgets.NewQApplication(), because packages gui and widgets are invisible. Goglang says, that ".../github.com/therecipe/qt/gui has no buildable Go source files"
I use go 1.9, macOS.

[2017-09-14 10:07] #454 closed

[2017-09-14 10:58] freboat commented on #452
can  you  tell me  the lang  codec of your source code file,

my souce code file  uses utf-8, and  textBrowser can not display Chinese

[2017-09-15 03:29] hello-code commented on #452
[code]

[2017-09-15 07:11] quantonganh opened #455 "QtWebView and QAbstractAnimation are missing when building for windows on linux"
[code]

ssh into that container:

[code]

deploy:

[code]

and got the following error:

[code]

[2017-09-17 17:38] pztrn commented on #259
I love that "tiers" approach with free tier for startups. Because, well, sometimes even $300 can be a huge amount of money for startups. I'm not speaking about already-bucked things form Kickstarter or similar sites, but about a simple person (like me) who want to try to sell his app(s).

While reading whole thread I realised that some of posters doesn't understand The Meaning of LGPL (c)(r)(tm).

[2017-09-17 17:56] jrmiller82 commented on #259
You're leaving out the fact that go is currently not lgpl compatible because support for dynamic linking is poor to non existent. Maybe I'm a few years it's a moot point. But right now? LGPL means bupkis for a go developer. Might as well be full GPL.

[2017-09-17 19:36] 5k3105 opened #456 "Webkit errors on new 5.9 install"

[2017-09-17 19:41] 5k3105 commented on #456
My settings:

[code]

[2017-09-17 20:11] 5k3105 commented on #456
My first path var is : ```C:\Qt\5.9.1\mingw53_32\bin```

Turning QT_WEBKIT to false and recompiling, examples compile but when I try to run them I get a popup message:

```The procedure entry point __gxx personality_v0 could not  be located in the dynamic link library libstdc++-6.dll.```

from this advice: https://stackoverflow.com/questions/18668003/the-procedure-entry-point-gxx-personality-v0-co

[2017-09-17 21:01] 5k3105 opened #457 "*core.QAbstractItemModel vs QStandardItemModel_PTR"
error:

[code]

code:

[code]

Note: I was not getting an error when I had only one QTreeView struct. This error only appeared after I added the second. So when only FoldersTree, no error. When FilesTree was added -- error.

Also, the reason why I keep the ```Im	*gui.QStandardItemModel``` reference in each struct is when I use things like:

```RemoteFiles.Im.Clear()```

```p := RemoteFiles.Im.Invi

[2017-09-18 06:02] pztrn commented on #259
No, I'm not leaving that fact. Please, re-read my post. When there will be a commercial license for therecipe/qt - there will be no problem at all, because this is an only thing that links statically. Qt itself links dynamically and isn't a problem.

Once again - LGPL isn't a problem at all. Problem - static linking of therecipe/qt repo. That's what this thread is about - another license, so propr

[2017-09-18 09:46] SimplicityApks commented on #259
I get what you mean and agree with it, though I wouldn't say LGPL isn't a problem at all. The problem with the LGPL is that using it outside of the shared lib Linux distribution world with C confuses its wording entirely. There is no difference in using LGPL with static linking compared to the much more common GPL, only unclarity about what is possible and what is not.

The equivalent of the LGPL

[2017-09-18 09:52] SimplicityApks commented on #259
On a personal note: @therecipe if you want to be nice and make some money go MPL+commercial license for a few bucks (which someone like me will pay you after I've liked your work). Or you can be unfriendly and do GPL+commercial if that sounds better to you. I doubt the second option will be succesful (at least myself won't be using the lib) but its at least better that the current LGPL nonsense.

[2017-09-18 15:03] minhajakhterkhan199 opened #458 "Container Issue"
I know its a little bit out of scope question for this forum.

I am trying to mount my VM Machine folder to Container using below command.
[code]

But do not see any folder on my Container home/user. Please advise what is wrong in my command.

[2017-09-19 11:28] #458 closed

[2017-09-19 12:00] minhajakhterkhan199 opened #459 "Bluetooth Issue"
Trying to work with Bluetooth but bluetooth.QBluetoothLocalDevice{} IsValid() always return false.
Host Machine Ubuntu: 16.04 and Bluetooth is working well on Host Machine.
Please advise
[code]

[2017-09-19 19:09] therecipe commented on #421
@neoxharsh
Not at all? Or only the widgets/gui packages?
Could be that you also need to set GOARCH=386, if you are on windows.

Alternatively you probably could also run the the setup with `QT_STUB=true` once, and then install the stub packages with something like `go install github.com/therecipe/qt/...` to get code completion working for windows with GOARCH=amd64.

[2017-09-19 19:17] therecipe commented on #448
Yeah, you will need to open Xcode to view the log.

[2017-09-19 19:22] therecipe commented on #455
Hey

Yeah, the WebView and the WebEngine are not supported on windows atm: https://github.com/therecipe/qt/issues/217#issuecomment-280940272

[2017-09-19 19:28] therecipe commented on #454
Hey

You probably need to increase the memsize of the Java VM to get those working: https://github.com/therecipe/qt/wiki/FAQ#how-to-make-ides-code-completion-works-

[2017-09-19 19:39] therecipe commented on #451
Hey

You probably have an infinite (or at least some deep) recursion somewhere: https://github.com/therecipe/qt/issues/399

Does your app crash right at the start, or only after some time went by?

[2017-09-19 19:44] therecipe commented on #459
Hey

You will need to use `bluetooth.NewQBluetoothLocalDevice` or `bluetooth.NewQBluetoothLocalDevice2` instead of `bluetooth.QBluetoothLocalDevice{}`.

[2017-09-19 19:53] therecipe commented on #452
@freboat
Just tested hello-code's code on macOS and Arch Linux and it seems to work.

[2017-09-19 20:23] therecipe commented on #398
@hubyhuby
I just tested it on Arch Linux, and it worked there.
But I will setup a fresh VM and try to reproduce your issue.

In the meantime it could be that you just need to pull a copy of the `libQt5XmlPatterns.so.5` from the docker image and then put it in your "libs" folder for this to work.
I suspect that this dependecy is not detected, because it is somewhat hidden as a sub dependecy by `lib

[2017-09-19 23:07] therecipe commented on #457
Hey

Your example works for me :)
You probably just need to remove all the leftover `moc*` files to get it working.

And yeah, keeping a ref to the model with `Im` is more convenient than always casting with `core.NewQStandardItemModelFromPointer(RemoteFiles.Model().Pointer())` first.

The reason why it fails with `Model()` is, that the function returns only the base/parent "QAbstractItemModel" cl

[2017-09-19 23:16] therecipe commented on #449
Hey

No, you don't need to.

I looked into this, and the problem is that the generated code (for Qt 5.9.1) won't

[2017-09-19 23:21] therecipe commented on #444
Nice, then the stand alone homebrew deployments should work again with: https://github.com/therecipe/qt/commit/3725b223d2193530429fb34500ccaa8017746a1d

[2017-09-19 23:24] therecipe commented on #456
Mh, I just tested it on macOS (Qt 5.9.1) with the newest (5.212.0 Alpha 2) version from: https://github.com/annulen/webkit/releases

But it probably also works on windows and linux again: https://github.com/therecipe/qt/commit/3725b223d2193530429fb34500ccaa8017746a1d

Will test it tomorrow though.

[2017-09-20 00:22] 5k3105 commented on #457
Still same error after moc files deleted. Win7.

[2017-09-20 00:43] therecipe commented on #259
@SimplicityApks

I think LGPL is the best fit for this, as it's more permissive for open source users then GPL and at the same time more strict for closed source (and/or commercial users) then MPL.
LGPL seems to be the golden middle between MPL and GPL from my perspective.

LGPL might be complicated to understand for closed source users, but it's relatively easy to understand for open source users

[2017-09-20 01:45] bclermont commented on #455
@therecipe thanks, but what about `QAbstractAnimation` ? this sound more... generic (as it's part of core)

[2017-09-20 01:56] jrmiller82 commented on #259
@therecipe You still haven't addressed the fact that the LGPL is incompatible with statically linked binaries a la Go.

[2017-09-20 03:22] 5k3105 commented on #457
test this please:

[code]

[2017-09-20 05:18] minhajakhterkhan199 commented on #459
kindly give me reference / tutorial or example... In addition, please share GO-QT documentation link as well

[2017-09-20 06:05] freboat commented on #452
@therecipe
i  run  the  therecipe'Qt  DOCKER  on ubuntu 1604
it must be  5.9.0.

the system's default lang codec  is  en-utf8,  so is the  src' file.

[2017-09-20 07:32] willeponken commented on #455
Could be that either the generate or install step had errors for `qtsetup`, do you remember any errors? `QAbstractAnimation` is the first type in core so it is pretty logical it would be the first to error if `qtsetup` failed.

[2017-09-20 20:17] therecipe commented on #457
Mh, works for me as well.
Tested it on macOS, Windows and docker (windows_32_* + linux + android).
There was some strange issue with `QScreen_Model` on Arch Linux with `QT_PKG_CONFIG=true` though.

Is there some error log I can look into?

[2017-09-20 20:42] therecipe commented on #459
Here, you can find all necessary infos in the c++ docs:
http://doc.qt.io/qt-5/qbluetoothlocaldevice.html#QBluetoothLocalDevice

There are no ported Go bluethooth examples yet, but you could try to port one of these:
http://doc.qt.io/qt-5/bluetooth-examples.html

[2017-09-20 21:23] therecipe commented on #449
Should be fixed now with: https://github.com/therecipe/qt/commit/72df6cb50a4f1c87acd75cfeb71f403051686482

[2017-09-20 21:28] therecipe commented on #455
@bclermont
Oops, this is probably related to: https://github.com/therecipe/qt/issues/449
(The docker mxe builds are still on Qt 5.8.0, but the code that was generated was meant to be used with Qt 5.9.0.)
Should be fixed now.

@willeponken
Yeah, the `QAbstractAnimation` issue usually comes up if there was some problem during the setup, or if the setup wasn't run at all.
But in this case the docker

[2017-09-20 22:23] therecipe commented on #259
@jrmiller82
I'm not quite sure what you mean, it's not incompatible afaik. Could you elaborate?

[2017-09-20 23:47] 5k3105 commented on #457
[code]

[2017-09-21 01:35] 5k3105 commented on #457
https://github.com/5k3105/remote_test

[2017-09-21 02:21] quantonganh commented on #455
https://hub.docker.com/r/therecipe/qt/builds/b57jwc76p7bpgawyqlbv3z4/

😄

[2017-09-21 03:25] quantonganh commented on #455
I pull the fix, build docker image by myself, then re-run but still got that error:

[code]

[2017-09-21 04:01] vahid-sohrabloo commented on #451
@therecipe  thanks for response
App started and then load and show a List view successfully but when I open another widget like drawer, app crash and give me that error

[2017-09-21 11:21] quantonganh commented on #455
@therecipe What does that error really mean?

[code]

[code]

[2017-09-21 16:21] jrmiller82 commented on #259
The LGPL is incompatible with statically linked binaries. Statically linking an LGPL library subjects the whole project to copyleft whereas dynamically linking would not. Go in its current form is mostly statically linked. We already discussed this above.

[2017-09-22 01:25] therecipe commented on #457
Ah yes, I was able to reproduce your error with the "remote_test" repo.
This is strange, these moc files shouldn't be created at all.

[2017-09-22 01:37] therecipe commented on #455
@quantonganh
This can happen if the "cgo" or "minimal_cgo" files inside "therecipe/qt/{core,gui,...}" are invalid, but this is very unlikely. (But maybe take a look to be sure)

Also the "windows_*" images use the Qt version located at "/usr/lib/mxe/usr/*/qt5/". (The "qabstractanimation.h" file is there as well, I just checked it)

I'm not quite sure what's the problem atm, will need to look into

[2017-09-22 02:12] quantonganh commented on #455
core/cgo_linux_linux_amd64.go:

[code]

core/minimal_cgo_windows_windows_amd64.go:

[code]

gui/cgo_linux_linux_amd64.go:

[code]

gui/minimal_cgo_windows_windows_amd64.go:

[code]

I'm not sure if they are valid or not.

[2017-09-22 02:33] 5k3105 commented on #457
yes. go fmt fixes the problem.

[2017-09-22 02:43] quantonganh commented on #455
I'm sorry.

Looks like the problem is cached moc, minimal and dependencies. Because if I remove `-fast` flag then I got another error:

[code]

same as running `qtdeploy` on the docker host: https://github.com/therecipe/qt/wiki/Deploying-Linux-to-Windows-64-bit-Shared

The reason is:

[code]

[2017-09-22 02:48] quantonganh opened #460 "Building for Windows on Linux: qtremoteobjects.index is missing in 5.8"
https://github.com/therecipe/qt/issues/455#issuecomment-331335389

It's here, in 5.9:

[code]

[2017-09-22 02:49] #455 closed

[2017-09-22 03:20] quantonganh opened #461 "Building for Windows on Linux: remoteobjects/Mfile.Release: no such file or directory"
https://github.com/therecipe/qt/issues/455#issuecomment-331335389

[code]

[2017-09-22 03:33] quantonganh commented on #461
[code]

[2017-09-22 03:45] bclermont commented on #460
https://github.com/therecipe/qt/issues/455#issuecomment-330986504 it's not updated to 5.9?

[2017-09-22 03:46] quantonganh commented on #461
./internal/binding/files/docs/5.9.0/qtremoteobjects.index:

[code]

Where is `/home/qt/work/...`?

[2017-09-22 15:09] minhajakhterkhan199 commented on #459
I am unable to discover any Bluetooth devices... Please advise what is wrong in below code
[code]

[2017-09-23 01:13] therecipe commented on #451
Do you test your app on the simulator or on a real device?
Also which Go and Qt version did you use?

[2017-09-23 01:20] therecipe commented on #457
Okay, looked deeper into this and the problem seems to be that the "go/parser" pkg expects go fmt'd code to properly work. Maybe there is a way to work around this without automatically formating all the code all the time, but that's probably not that simple.

For now you will need to manually "go fmt" your code before running qtmoc/qtdeploy.

[2017-09-23 01:29] therecipe commented on #460
@quantonganh
Yeah, that's because the "remoteobjects" pakcage is only available in Qt >= 5.9, but the windows images are still on 5.8. But it's just a warning, this shouldn't affect the build at all.

@bclermont
Yes, mxe still only provides Qt 5.8 builds: http://pkg.mxe.cc/releases/
The latest prebuilt packages are from the "20-May-2017", so there should be a new release soon.

[2017-09-23 01:38] therecipe commented on #459
Mh, I'm not sure.
I will try to port the bluetooth scanner example tomorrow.

[2017-09-23 01:45] therecipe commented on #452
Mh, I successfully tested it on a completly clean ubuntu 16.04 `4.10.0-28-generic #32~16.04.2-Ubuntu SMP Thu Jul 20 10:19:48 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux` box.

I used the latest docker linux image to build the example from above: `c1d35e8eac85`

Can you maybe provide some error log, or some more infos (a screenshot or something) that shows the issue?

[2017-09-23 02:00] therecipe commented on #259
Oh, sorry thought there was some new info that I missed.
You probably meant "addressed" as in "took action"?
If so, then yeah this will still take some time.

[2017-09-23 02:22] 5k3105 commented on #457
ok. thanks!

[2017-09-23 02:22] #457 closed

[2017-09-23 04:06] #453 closed

[2017-09-23 06:44] vahid-sohrabloo commented on #451
I tested in simulator
Go 1.9
Qt 5.9.1

[2017-09-24 02:34] freboat commented on #452
@therecipe , my docker  version show that:
brook@ubuntu16:~$ docker history 847
IMAGE               CREATED             CREATED BY                                      SIZE                COMMENT
8473b4090aa0        6 weeks ago         /bin/sh -c $GOPATH/bin/qtsetup install linux    475.4 MB
<missing>           6 weeks ago         /bin/sh -c $GOPATH/bin/qtsetup generate linux   37.52 MB
<missing>

[2017-09-24 02:48] freboat commented on #452
@therecipe

is there a way  to get into the compiling container  to debug,

maybe when the docker start,  mount the local src file dir without right lang codec ?

[2017-09-24 02:58] freboat commented on #452
![screenshot_2017-09-24_10-52-03](https://user-images.githubusercontent.com/21974735/30779035-c7227c46-a0d3-11e7-8d51-af63b3effba1.png)

[2017-09-24 03:00] #438 closed

[2017-09-24 05:08] freboat commented on #452
i update go to 1.9.0, and pull docker img:   c1d35e8eac85

and compile,  they doesn't work with Chinese  neither.   :(

[2017-09-24 05:38] minhajakhterkhan199 commented on #459
Waiting for your response

[2017-09-24 16:27] vahid-sohrabloo opened #462 "signal SIGSEGV, Segmentation fault On windows 8.1"
I have this error on windows 8.1 64 bit
signal SIGSEGV, Segmentation fault
I tested qml/application example
it run successfully on  windows 7 and 10 and wine

Go 1.9
Qt 5.9.1 - static
I compiled by msys2  on windows and mxe on linux

[code]

[2017-09-25 06:13] minhajakhterkhan199 commented on #459
@therecipe Waiting for your response regarding scanner example..

[2017-09-25 06:45] #460 closed

[2017-09-25 07:55] quantonganh commented on #460
The thing is the next error is: https://github.com/therecipe/qt/issues/461#issue-259691999

Do you have any idea about this?

[2017-09-26 03:26] quantonganh opened #463 "[Feature request] Support qtwebview on Windows"
We have a project that uses `qtwebview` but as you said [here|https://github.com/therecipe/qt/issues/455#issuecomment-330643831]:

Do you have a plan to support it?

[2017-09-29 03:48] TangMonk opened #464 "Run `qtdeploy build windows` on macOS throw error"
[code]

[2017-09-30 10:59] minhajakhterkhan199 commented on #459
@therecipe Still waiting for your response... Kindly give some time to fix this issue...

[2017-10-01 00:59] sknkmn opened #465 "QAbstractAnimation: No such file or directory compilation terminated."
`$ ~/gowork/src/SatelliteProject$ go build *
# github.com/therecipe/qt/core
/usr/lib/go-1.6/src/github.com/therecipe/qt/core/core.cpp:9:30: fatal error: QAbstractAnimation: No such file or directory
compilation terminated.
`

I'm getting thrown by this error. I have cgo in my $GOROOT and not sure why this isn't able to run... any ideas? Would really appreciate it!

[2017-10-03 05:05] bclermont commented on #465
@sknkmn how you fixed your bug?

[2017-10-03 11:49] rashwell opened #466 "Is docker windows_64_shared missing Qt5CLucene.dll"
First, I did try and dig through the issues here to see if this was already posted, hopefully this isn't just a rehash.

I am not even sure what process in my Application requires it, but my windows building using the the shared image fails to put **Qt5CLucene.dll** in the deploy directory and my app crashes looking for it.

| REPOSITORY | TAG | IMAGE ID | CREATED | SIZE |
|---------------|------|

[2017-10-03 13:48] dosaki commented on #279
I get a similar problem with JetBrains's Gogland, but it builds ok on the command line.

[2017-10-08 04:13] zerkms opened #468 "What would be the right way to build an application using ubuntu 16.04 default qt5?"
I've taken an example application from the https://github.com/therecipe/qt/wiki/Getting-Started

And when I try to build it specifying the path to Qt5 headers explicitly it still cannot find it:

[code]

But the header file is there

[code]

How would I build it?

[2017-10-08 04:18] zerkms commented on #468
I see, I should have run `qtdeploy test desktop`

[2017-10-08 05:16] zerkms commented on #468
Well, I'm still stuck: is it even possible to use this binding and default ubuntu xenial qt5 (not install the qt5 additionally or via docker)?

[2017-10-08 06:49] zerkms commented on #468
The closest I could reach is
[code]

but then it fails on `QDeadlineTimer` which was added in qt 5.9 and the default ubuntu xenial is 5.5.1

[2017-10-08 07:00] #468 closed

[2017-10-08 09:27] erfanio commented on #410
I'm trying to get this code (from examples) to work but I can't get it to compile:
[code]

The use of struct tags here is not clear to me. Also I don't know where `NewAnalogClockQwdgt` is supposed to be defined.

[2017-10-09 11:47] rashwell commented on #452
I know this might be out in left field, but it appears to me that the fonts are different @freboat your default font that your textbrowser is using might not have the chinese chars.  If that turns out to be the case you can set the font for the document.  You can also if you have either embedded a font with QFontDatabase class stuff or if you know your system has a font installed already that will

[2017-10-09 12:54] erfanio opened #469 "Better documentation"
Hi,
I've noticed this project lacks good documentation on using it (installation is covered very well!).
Especially there are a full gotchas that would be great to be documented.

- How the event handling work (`ConnectXEvent`, `DisconnectXEvent`, `XEvent`, `XEventDefault`)
- Since we can't override functions, the syntax for that (e.g. `ConnectPaint`, `DisconnectPaint`, `Paint`)
- Where the consta

[2017-10-09 20:05] rashwell commented on #469
I do like the bullets you point out here as each in its own way contributed to the steepness of the learning curve for me.  First we could just start contributing too sections for each of the tough point, in the wiki for this project we could maybe just do some pull requests on this and see how concise we can get a page for each bullet.  However in the end the source of the bindings will probably

[2017-10-10 01:45] omac777 commented on #410
On 10/08/2017 05:27 AM, Erfan wrote:

That code can compile with go1.8rc1 to go1.9.1 from my experience.
The more recent versions of go have a feature the gives you
New[WHATEVERTYPEYOUDEFINE] and it will return an instance of it.  That's
why you can't find 'NewAnalogClockQwdgt' in main.go.  There are other
ways of instantiating and you are more than welcome to change the code
to make it compile fo

[2017-10-10 02:52] 5k3105 commented on #466
Qt 5.8 seemed to have this dll but 5.9 does not.

[2017-10-10 06:36] rashwell commented on #466
Interesting, perhaps I somehow mixed builds.  I'll see if I can clear everything out and somehow start clean, and see if it still occurs for me.

[2017-10-10 10:30] rashwell commented on #469
@erfanio also I don't know if it will help but for your third bullet about the constants.  Sometimes when I have to deal with windows environment, the intellisense for vscode is a little slow and hard to deal with mostly because gocode doesn't like 32bit / 64bit Qt stuff, etc.

So I usually keep a "constants" file around that I build with this little go app snippet (below).  There are other module

[2017-10-11 01:49] erfanio opened #470 "Wait for UpdateGeometry"
I have a parent and a child. When I want the child to resize I call `UpdateGeometry` on it, if the size is reducing I want the parent to shrink with it too.
My problem is that if I run the following code:
[code]
`UpdateGeometry` is call in a routine (async) so `AdjustSize` is getting called before the child has resized.

Since in the go binding I can't override `UpdateGeometry` I don't know how to

[2017-10-11 03:11] erfanio commented on #469
@rashwell Since all the constants/function/events/etc. have the same name (mostly) as the C++ counterpart, what I've been doing is `grep -i someConstant` in the source code file.

Also to your point about contributing to the wiki, I really feel like a proper documentation is needed, it's not something anyone but @therecipe can make since he's the only that that knows this project really well.
I cr

[2017-10-11 04:39] #470 closed

[2017-10-11 08:57] embryo10 opened #471 "Problem installing on windows"
OS: Windows 7 SP 1 (6.1) [winnt version 6.1.7601]
Architecture: x86_64; features: SSE2 SSE3 SSSE3 SSE4.1 SSE4.2 AVX
Environment:
  QT_VERSION="5.8.0"
  QT_DIR="E:\Qt\"

This is the [err.log](https://github.com/therecipe/qt/files/1374860/err.log) I got from `cmd.exe` while running the `qtsetup.exe`
It says that it can not create a shortcut inside my go installation folder (the e: drive is NTFS).
An

[2017-10-11 13:18] pioz opened #472 "LSOpenURLsWithRole() failed with error -10810 with qrc file"
Im using osx 10.12.6, go 1.9 and qt 5.9.1.

I've this main.go

[code]

and a file in the same dir `resources.qrc`:

[code]

(the binary file `FontAwesome.otf` exists in the same dir.

I compile the program with `qt build desktop`
and run the program with
[code]
I get the follow error:
[code]

If I comment the `init()` function all works fine.

Any idea? Am I wrong or is it a bug?

[2017-10-11 13:26] pioz commented on #472
Ok, if I call `gui.QFontDatabase_AddApplicationFont()` AFTER `widgets.NewQApplication()` all works fine!

[2017-10-11 13:26] #472 closed

[2017-10-11 23:19] ChrisFernandez commented on #469
+1 we need more side by side examples with C++  I think we lack lot of QT+go sockets  like in the C++ QT apps lot of people use the build in QT but sometimes those are limited and use C++ sockets  some similar options will be nice, example1  use QT+GO to call nmap, example2 use QT+GO sockets to make a nmap alike scanner.. etc.

[2017-10-12 02:29] ChrisFernandez opened #473 "nexted layouts not working?"
Hello for lack of tutorials I am checking the C++ ones..
and here: http://zetcode.com/gui/qt5/layoutmanagement/
I find a nested layouts with addLayout()
[code]

ok so to add a nested layout I have to
mainlayout.addLayout(nestedlayout1)
mainlayout.addLayout(nestedlayout2)

but when I try to do it says widget class has no addLayout() method!! :/

snip:
[code]

I get:
[code]

What I'm a doing wrong?

[2017-10-12 03:13] ChrisFernandez commented on #473
nevermind! is AddLayout()

I found some examples with it
[code]

ok closing this.. but will not delete in case someone else is translating from the c++ QT classes.

[2017-10-12 03:13] #473 closed

[2017-10-12 04:51] ReK2Fernandez opened #474 "qprocess example?"
@therecipe I am trying to get the output of a system command on linux, on the C++ QT doc it shows how to do this with qprocess, but I can't find any example with GO+QT... is this implemented? if so can I have a small example? if not, how I can go about getting the raw GO way to open a system app let's say "ls" and redirect the output to a NewQTextEdit() ?

Thanks.

[2017-10-12 13:00] yizheneng opened #475 "Memory leak"
`package main

import (
	"time"

	"github.com/therecipe/qt/core"
)

func main() {
	for i := 0; i < 100000; i++ {
		point := core.NewQPoint()
		point.DestroyQPoint()
		time.Sleep(1)
	}
}
`

Hi,

Using Win7 64-bit.  This program will cause a memory leak.
I tried DestroyQPoint(), But it does not work.

Thanks.

[2017-10-12 15:21] pioz opened #476 "How to create a custom signal?"
Im looking for the way to create a custom signal. Something like this:

[code]

Someone can help me? I don't have found any example in the examples dir.

[2017-10-12 21:29] ChrisFernandez commented on #474
knock knock... just need a yes or no is not supported, im stuck in the middle of a proyect waiting to see what way I go. thanks.

[2017-10-13 12:30] thesyncim commented on #476
https://github.com/therecipe/qt/issues/344

[2017-10-14 00:24] ReK2Fernandez opened #477 "http://doc.qt.io/qt-5/qvalidator.html"
Is Qvalidator ported?

[2017-10-14 09:16] rashwell commented on #477
@ChrisFernandez I use validators, and the [Line Edits Example](https://github.com/therecipe/qt/blob/master/internal/examples/widgets/line_edits/line_edits.go) in this repo, shows a small example of appling different validators to fields, etc. So I think short answer to your question, yes it is included in the bindings.

[2017-10-14 11:16] rashwell commented on #475
Out pure curiosity how are you detecting a memory leak here.  Looking at the binding code for NewQPoint and DestroyQPoint it is extremely straight forward.  Some things to note from golangs perspective.

- Go's Garbage Collector doesn't typically release memory back to the os after a collection, so memory usage will not appear to shrink.  So how you are testing for the memory leak in a running app

[2017-10-14 15:10] embryo10 commented on #471
After various attempts, I  run successfully (I think) qtsetup.exe, setup Intellij to recognize the paths and tried to `go run main.go` but I got the following error:
[code]
I upgrade go from 1.9 to 1.9.1 and now I get a more verbose error:
[code]
Any ideas?

[2017-10-14 16:36] embryo10 commented on #471
Rerun qtsetup and when finished (with no errors other than the errors for the shortcuts) trying to run [an example](https://github.com/therecipe/qt/wiki/Getting-Started#widgets), gave me the previous error:
[code]
Trying to run the [qml example](https://github.com/therecipe/qt/wiki/Getting-Started#qml) gave me an `exit status -1073741515`

[2017-10-14 19:18] soson opened #478 "how to build and deploy sailfish os app?"
i successfuly build example from docs https://github.com/therecipe/qt/wiki/Getting-Started using

`qtdeploy -docker test desktop`

then i tried to build sailfish os example https://github.com/therecipe/qt/tree/master/internal/examples/quick/sailfish

`qtdeploy -docker -debug test sailfish-emulator`

which failed with this

`DEBU[0000] running Deploy                                docker=true fast=

[2017-10-14 21:52] soson commented on #478
from debug message i can see, that docker command generated by qtdeploy is malformed (missing TAG after image name):
[code]

after manually fixing it:
[code]

i got this:

[code]

tough the GOPATH environment variable is set.

[2017-10-15 05:22] ChrisFernandez commented on #477
thanks! I will take a look in the mean time I have used govalidator it was for URL/IP entry

[2017-10-15 05:50] ReK2Fernandez opened #479 "This is the app I am doing in GO/QT"
https://github.com/ChrisFernandez/goNikto
Feel free to add it to the list.
I am not a software engineer, I work on hacking and security so do not expect the best code haha

[2017-10-15 09:35] rashwell commented on #479
@ChrisFernandez I took a look.  I like it so far.  I do have a bit of caution though, probably because I am afraid to take your approach in some of my stuff.  If you spend more time on this app, I would look into [Qt Threading](http://doc.qt.io/qt-5/thread-basics.html).  The reason this raises a read flag for me, is you are appending to the QTextEdit box which is in the gui thread, from inside a g

[2017-10-15 09:55] ChrisFernandez commented on #479
@rashwell hey thanks for poiting this out... I am an GNU/Linux user.. I do not have nor OSX nor windows.. yes android on my phone so it never ocurred to me this issue... but also yes I wanted to do this all in QT as much as possible but I asked a question here: https://github.com/therecipe/qt/issues/474 never really got a reply.. so had to do it the GO way.. and like I mention I am not a software

[2017-10-15 11:01] rashwell commented on #474
Ok, here I found a c++ version of a small example of what you are asking.  [QProcess Example](https://gist.github.com/ynonp/8148340)

[code]

But I expect when / if QProcess is fully supported that there will instead exist a core.NewQProcess() which isn't there yet, so you end up missing methods like in the example were you would do qprocess.Start("").  And [here](https://github.com/therecipe/qt/b

[2017-10-15 11:46] rashwell opened #480 "Enhancment for qtdeploy around additional Qt assets"
### Ordered from easiest to hardest

- Qt Help assets
  - qtdeploy should recognize and execute **qcollectiongenerator** on any *.qhcp or *.qhp files in the source dir
  - qtdeploy ideally could automatically copy the output of the qcollectiongenerator *.qhc *.qch files into a qml directory if it exists

- Qt translation i18n assets

  - Since qtdeploy or some other internal cmd/process of this bi

[2017-10-15 12:28] rashwell commented on #480
Some quick additional notes if this ever gets added or if I try and do a PR and add it.

## Help compiling and bundling notes

- qcollectiongenerator will actually produce two ouputs if the .qhcp has instructions to do so generating both the collection .qhc and help .qch files
- however there is also a separate cmd line tools to do it as a separate step qhelpgenerator will compile .qhp files into

[2017-10-15 13:47] rashwell opened #481 "Building with QT_WEBKIT=true"
Wanted to experiment with qtwebkit.

- Environment: Linux
- Qt: Installed from unified installer QT 5.9.1
- Downloaded Webkit from [QtWebKit 5.212.0 Alpha 2](https://github.com/annulen/webkit/releases) actual archive [qtwebkit-5.212.0_alpha2-qt59-linux-x64.tar.xz](https://github.com/annulen/webkit/releases/download/qtwebkit-5.212.0-alpha2/qtwebkit-5.212.0_alpha2-qt59-linux-x64.tar.xz)
- Extracted

[2017-10-16 02:19] DaleFarnsworth commented on #419
Thanks! I should have closed this long ago.

[2017-10-16 02:19] #419 closed

[2017-10-16 19:59] hurbal opened #482 "qtdeploy : The term 'qtdeploy' is not recognized as the name of a cmdlet, function, script file, or operable program."
qtdeploy : The term 'qtdeploy' is not recognized as the name of a cmdlet, function, script file, or operable program. C
heck the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ qtdeploy -docker test desktop
+ ~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (qtdeploy:String) [], CommandNotFoundException
    + FullyQualifiedEr

[2017-10-17 00:45] pioz commented on #476
[Here](https://github.com/therecipe/qt/wiki/Available-Tools#qtmoc) also some info.

[2017-10-17 14:05] pioz opened #483 "Fail setup on msys2"
Im try to run this setup:

I've installed msys2 on windows 10.
Then I've installed golang with the command

     pacman -S mingw-w64-x86_64-go

Then I've installed qt with the command

    pacman -S mingw-w64-x86_64-qt-creator mingw-w64-x86_64-qt5

Then in my `~/.bash_profile` I've set the follow env vars:

    export GOPATH=$HOME/go
    export GOBIN=$GOPATH/bin
    export QT_MSYS2=true

Then I've

[2017-10-17 14:46] MTRNord opened #484 "Any update on the webengine/webview situation on windows?"
Hi I wonder if the webengine with qt5.9.x now finaly could work on windows. Any news on it or way to test?

[2017-10-17 15:30] rashwell commented on #483
I have done this two different ways below, but it looks like you are trying to do everything inside of msys2, the link might be about how you installed go in the msys2 environment.  I am unsure, but my impression was this was designed to have go installed in windows, passed through to the msys2 environment the way it handles paths, and run from the msys2 environment, just so that it can have acces

[2017-10-17 19:06] hurbal commented on #482
this comment :
go get -u -v github.com/therecipe/qt/cmd/...

all of the packages error this one:

package github.com/therecipe/qt/cmd/qtdeploy
        imports crypto/rc4: unrecognized import path "crypto/rc4" (import path does not begin with hostname)
package github.com/therecipe/qt/cmd/qtdeploy
        imports crypto/rsa: unrecognized import path "crypto/rsa" (import path does not begin with host

[2017-10-18 03:56] rashwell commented on #482
@hurbal can I assume your are still trying to install this on windows yes?  If so:

On windows after I install go, It defauts to c:\Go I always setup a work directory, by:

Creating a directory called c:\gowork
And adding a GOPATH environment variable in windows and set it to c:\gowork.

I also in windows need to install a git command so that when running "go get" commands it can fetch software pa

[2017-10-19 02:56] yizheneng commented on #475
@rashwell
Thinks for your answer.
Here is my code. https://github.com/yizheneng/MemoryLeakingCode.git
I want to move a window without title bar.
When moved the window it cause this issues.

`package widgets

import (
	"github.com/therecipe/qt/core"
	"github.com/therecipe/qt/gui"
	"github.com/therecipe/qt/widgets"
)

type Title struct {
	*widgets.QWidget
	mainWindows *widgets.QWidget

	mouseFlag bo

[2017-10-19 12:10] rashwell commented on #475
I did take a look at your example at your repository.
I will try and help you get this example in working shape (prob later this evening).
But I wanted to throw out a couple of notes:

First with your goal in mind check out the [RasterWindow Example](https://github.com/therecipe/qt/tree/master/internal/examples/gui/rasterwindow) that is included.

Some quick notes, about how your code though curre

[2017-10-19 17:57] MTRNord commented on #484
actualy  in addition whenm doing what the wiki states I get this error on Win 10 using a git bash.
[code]

[2017-10-20 00:36] pioz commented on #476
@therecipe Is possible to create "private" signals?

for example:

[code]

[2017-10-20 08:49] rashwell commented on #475
Ok to have a working example for me, I borrowed a lot from the example [Advanced Clock](https://github.com/therecipe/qt/tree/master/internal/examples/gui/advancedclock)

For now though since I was adding a paint event to your Title Widget, I just colored it there, and gathered the title from your main window and painted it in the Title Widget. It was fun figuring out which DrawText method in this

[2017-10-20 11:58] embryo10 commented on #471
Trying various configurations always ending up to:
[code]
or something similar.
At one point there was a warning that the system could not find the `Qt5Core.dll`.
After I added the QtCreator\bin to the path return the previous error.
As I understand it, there is a missing dependency somewhere, but I don't know where.
Is somebody using Win7x64 SP1 and Go 1.9.1 with Intellij IDEA has a qt5 5.8 worki

[2017-10-20 23:27] pioz commented on #160
Any idea how to translate the menu bar and the buttons inside a QDialogButtonBox?

My try is this:

[code]

These seems works, the button inside a QDialogButtonBox are translated in italian but the menubar appear without strings, like this https://i.imgur.com/OCK6caa.png

[2017-10-21 01:22] rucuriousyet opened #485 "How can I disable compilation/bundling of QML to allow for hot reloading"
Hi! I have a few questions here that I wasn't able to get a reply for on the Slack channel. Firstly, Does this library use the QtQuick Compiler to skip the interpretation of QML for a compiled project (or can this be done). Second, Is there a way to prevent the QML files from being compiled into the project to allow for hot-reloading? I have created the following program hoping to enable a better

[2017-10-21 09:16] vahid-sohrabloo commented on #451
I still have this error.
doe's anyone has this error with ios?

[2017-10-21 15:04] rucuriousyet opened #486 "Can I create a fully static binary?"
I'm wondering if there's any way to compile my application to include the required Qt libraries in the binary (primarily for linux but would be good to know about the other OSs as well) allowing for deployments of only a single binary with no deps? When trying to run a compiled binary on another linux system I get errors for missing shared libraries, this is the problem I am trying to avoid.

[2017-10-21 15:06] rucuriousyet commented on #478
Have you tried building the project using the regular installation? I can't speak for Sailfish OS specifically but I didn't have any luck with the docker deployments for desktop, Android while developing on Linux.

[2017-10-21 15:10] rucuriousyet commented on #476
Its my understanding that private properties or signals must be nested within a QObject within the parent. Not sure how much this helps, but for QML I would normally do something like:

[code]

[2017-10-22 01:44] freboat commented on #452
@rashwell
thks for your hint,   i  apt-get install the WQY Cjk  fonts and set it default

now it works

thanks to @all

[2017-10-22 01:44] #452 closed

[2017-10-23 01:20] rucuriousyet commented on #72
What is the status of this? I am having issues with logging as well as `console.log` calls not showing up at all on certain machines.

[2017-10-23 22:51] pioz opened #487 "signal with error parameter"
I've build this example to explain the problem:

[code]

[code]

[code]

When the signal `SearchCompleted` is emitted `b.SearchCompleted([]string{"result1", "result1"}, nil)` the parameter error is `nil` but in `HandleResults` the error param is not nil, but an "empty error".

Is this a bug? Or I used signals/slots in wrong way?

[2017-10-24 20:11] thesyncim commented on #486
yes,
https://github.com/therecipe/qt/wiki/Deploying-Linux-to-Windows-64-bit-Static

[2017-10-24 20:15] rucuriousyet commented on #486
Actually.. I'm interested in creating a static binary for Linux from Linux.
I found the page for the windows stuff.

-sent from my OnePlus X

On Oct 24, 2017 4:12 PM, "Marcelo Pires" <notifications@github.com> wrote:

[2017-10-27 08:43] skiy opened #488 "Windows installed fail."
RUN
[code]

[code]

[2017-10-27 09:05] skiy commented on #488
Like #467

[2017-10-27 09:05] #488 closed

[2017-10-30 03:50] skiy commented on #483
![20171030114438](https://user-images.githubusercontent.com/3362147/32153845-eeb6383c-bd67-11e7-8e25-91c171265ccb.png)
![tim20171030113417](https://user-images.githubusercontent.com/3362147/32153846-eee84746-bd67-11e7-84d5-fdaa6487f83a.png)
![tim20171030113515](https://user-images.githubusercontent.com/3362147/32153847-ef1c5360-bd67-11e7-84d9-19433eac935c.png)
![tim20171030113601](https://user-ima

[2017-10-31 20:52] GeertJohan commented on #486
Have you tried this already?
http://blog.wrouesnel.com/articles/Totally%20static%20Go%20builds/

[2017-10-31 21:08] rucuriousyet commented on #486
I haven't yet, looks promising though

-sent from my OnePlus X

On Oct 31, 2017 4:53 PM, "Geert-Johan Riemer" <notifications@github.com>
wrote:

[2017-10-31 21:08] rucuriousyet commented on #486
I wonder how well this would work for cross compiling qt....

-sent from my OnePlus X

On Oct 31, 2017 5:08 PM, "Seth Moeckel" <smeck1999@gmail.com> wrote:

[2017-11-01 06:16] tarb opened #489 "Examples hidpi scaling not working on windows"
A lot of the examples ([including  the qml getting started snippet](https://github.com/therecipe/qt/wiki/Getting-Started#user-content-qml)) dont have correct hidpi scaling on windows (and maybe linux).

[code]

It looks as if `app.SetAttribute(core.Qt__AA_EnableHighDpiScaling, true)` does nothing as I was free to comment it out without any change to output. [From some googling](https://stackoverfl

[2017-11-01 22:32] 5k3105 commented on #475
I did notice the example OpenGlWidget code leaks memory slowly as it animates.

single file example:

[code]

[2017-11-02 12:19] hirochachacha opened #490 "cannot override data(index *core.QModelIndex, role int) for proxy models"
Hi, I am trying to use `core.QIdentityProxyModel`.

My code is something like:
[code]

above code end up with infinite recursion.

I cannot find

`func (ptr *core.QAbstractItemModel) DataDefault(index *core.QModelIndex, role int) *core.QVariant`

Are there any workarounds? Thanks.

[2017-11-02 12:25] hirochachacha commented on #490
nevermind. proxy.MapToSource works fine.

[2017-11-02 12:25] #490 closed

[2017-11-09 10:00] nilsocket opened #491 "Is this project dead?"
I have installed this and I got so many errors while installing, I have qt 5.9.2.
It seems this is specifically made for 5.8, It's working now but I got some errors.
qtsetup takes lot of time to run, why can't that make use of other cores.

[2017-11-09 10:35] bclermont commented on #491
5.9.1 works for me

and sure, qtsetup takes a lot of time, it need to generate tons of C++ files and generate golang code. and build them.

blame your local C++ toolchains for that

[2017-11-10 04:59] rawsh opened #492 "undefined error"
[code]

[2017-11-10 08:51] bclermont commented on #492
it seem you didn't followed installation instruction
you need to run `qtsetup` first

[2017-11-10 16:13] rawsh commented on #492
@bclermont I get this error. I installed qt5-devel via the fedora package manager, here is the error:

[code]

[2017-11-10 16:30] rawsh commented on #492
And using the package config and qt directory variables I get the following:

[code]

[2017-11-13 04:24] 5k3105 commented on #487
does this example help?
https://github.com/therecipe/qt/blob/master/internal/examples/quick/tableview/tableview.go

[2017-11-13 23:45] Inkeliz commented on #3
I have the same issue.

[2017-11-14 17:44] skmlcd opened #493 "Is this library Qt Widgets, Qt Quick or both?"
I am completely unfamiliar with Qt platform. Is this library Qt Widgets or Qt Quick (QML)?

[2017-11-14 22:51] rashwell commented on #493
In the examples it demonstrates both.

[2017-11-15 08:37] skmlcd commented on #493
Thanks, I missed that.

[2017-11-15 08:37] #493 closed

[2017-11-16 02:02] RadhiFadlillah commented on #492
Have you set environment variable `QT_PKG_CONFIG=true` ? You might want to check the [wiki](https://github.com/therecipe/qt/wiki/Installation-on-Linux#package-manager).

[2017-11-16 03:16] rawsh commented on #492
@RadhiFadlillah I've tried, same errors when trying to build.

[2017-11-16 22:29] 5k3105 commented on #486
I've used the instructions here for static builds on windows successfully:
https://github.com/therecipe/qt/wiki/Installation-on-Windows

[2017-11-22 22:18] tedx opened #494 "qtseup issue Qt 5.6.1 golang 1.9.1 Centos 6"
I've installed:
qt5-qtbase-devel-5.6.1-3.el6.x86_64
qt5-qtbase-5.6.1-3.el6.x86_64
qt5-qtbase-gui-5.6.1-3.el6.x86_64
qt5-qtbase-common-5.6.1-3.el6.noarch
qt5-rpm-macros-5.6.1-3.el6.noarch

ran:
go get -u -v github.com/therecipe/qt/cmd/...

exported:
QT_PKG_CONFIG=true

to my environment and then ran:
gocode/bin/qtsetup

which fails see below. Where does core.pro come from? Is is supposed to be gene

[2017-11-23 03:30] jamalsa opened #495 "Legal way to create closed source app?"
Currently this binding doesnt have commercial license so [it is impossible to create closed source app](https://github.com/therecipe/qt/wiki/FAQ#can-i-make-a-proprietary-app-with-this-binding-). For temporary solution I wonder if we can use binary only package to create closed source app legally.

Say we have an application. This application splitted into two packages, core and gui. Only the gui p

[2017-11-23 20:31] tarb opened #496 "ListView Memory Leak"
Hey,
I've been developing a ui for a service which needs to use a couple of lists, the ui will basically be a desktop (windows) dashboard and wont have much user interaction, but will need to be left on for very long periods of time (could be multiple days at a time). The items in the lists are updated from a persistent socket and it would probably average around 10 updates/sec (but might peak to

[2017-11-24 10:13] xjz9600 opened #497 "bridge2 demo can not work"
what should i do?

[2017-11-24 10:17] xjz9600 commented on #497
i want to use this function AddToJavaScriptWindowObject but i can find a demo

[2017-11-24 10:32] yyyyykkkk opened #498 "webview demo do not work"
'/github.com/therecipe/qt/internal/examples/webchannel/webview ' this demo can not do work !
shared.NewWebSocketClientWrapper(nil) has no method!!
please ,provide a working example.

[2017-11-24 11:35] bclermont commented on #498
it works for me.

you provided no informations to troubleshoot the problem:

- no QT version
- no operating system it's running on
- no go version

nothing

[2017-11-24 12:42] xjz9600 commented on #497
i want

[2017-11-24 12:42] #497 closed

[2017-11-24 12:45] xjz9600 commented on #498
![image](https://user-images.githubusercontent.com/25845262/33211180-4cb615de-d158-11e7-9640-f7ff1895f63f.png)
I have same problem

[2017-11-24 12:49] yyyyykkkk commented on #498
go version go1.8.3 darwin/amd64

qt version 5.9.2

[2017-11-24 13:17] xjz9600 commented on #498
![image](https://user-images.githubusercontent.com/25845262/33212161-c7374658-d15c-11e7-810c-82aa1d4ada37.png)

[2017-11-24 13:18] xjz9600 commented on #498
![image](https://user-images.githubusercontent.com/25845262/33212234-0a68fe08-d15d-11e7-967f-08d8a1edcca9.png)

[2017-11-24 13:19] xjz9600 commented on #498
but i get an error
![image](https://user-images.githubusercontent.com/25845262/33212266-3131dece-d15d-11e7-8bce-5fb05c104c39.png)

[2017-11-24 23:21] Requaos opened #499 "missing libpcre2-16-0.dll"
`qtdeploy build windows` does not copy in a required library... I was testing my .msi installation file and the `libpcre2-16-0.dll` library was missing from the deployment folder

**workaround:** copy the library in from `msys/mingw64/bin` before running the .msi packager

[2017-11-25 04:26] bclermont commented on #498
look like you didn't ran `qtsetup` first

[2017-11-25 19:00] 5k3105 commented on #496
I've noticed memory problems as well.
See here: https://github.com/therecipe/qt/issues/372
and here: https://github.com/therecipe/qt/issues/41

[2017-11-27 23:53] akhenakh opened #500 "rpi build failed with docker"
Documentation is referring to an `rpi3` docker tag but https://hub.docker.com/r/therecipe/qt/tags/ only mentions `rpi`.

The later call to `qtdeploy` for rpi3 failed:

[code]

[2017-11-27 23:54] akhenakh opened #501 "rpi docker build failed"
Documentation is referring to an `rpi3` docker tag but https://hub.docker.com/r/therecipe/qt/tags/ only mentions `rpi`.

The later call to `qtdeploy` for rpi3 failed:

[code]

[2017-11-28 16:18] xjz9600 opened #502 "use qtdeploy build Qt applications only Developer can use"
I use QWebEngineView build a qt application ,and use qtdeploy build a MAC.app .I am developer i can use MAC.app
![image](https://user-images.githubusercontent.com/25845262/33330608-40b86440-d49a-11e7-9b21-dcdd20d09340.png)
but other user use MAC.app
![image](https://user-images.githubusercontent.com/25845262/33330747-abb85584-d49a-11e7-8306-b6a728705346.png)
it empty why?

[2017-12-04 07:37] #502 closed

[2017-12-04 15:10] rusich opened #503 "qtdeploy failed on Windows 10 with MSYS2 and qt5-static (ld error)"
Hello!
I'm trying to get working static build on Windows with MSYS2.
Dynamic build work fine, and pass all tests of qtsetup. (Both QWidget and QML applications work fine),
but when a set env variable QT_MSYS2_STATIC=true it's not working

Output of qtsetup:
[code]

When i try to deploy examle app from https://github.com/therecipe/qt/wiki/Getting-Started#widgets i get the same linker error.

Instal

[2017-12-04 22:11] adneg opened #504 "Struct in slots functions"
I'm trying to impute structur to the slot function. Is it possible?

I am trying to convert this correct  example

[code]

in this way:
[code]
 and deploy is not working..

if I were to download  jsona with rest,
and If needed to display something complex in treewidget..
I would not know how to do it..

[2017-12-05 05:13] blowin opened #505 "Fatal error: QTextDocument: No such file or directory"
`package main

import (
	"os"

	"github.com/therecipe/qt/core"
	"github.com/therecipe/qt/gui"
	"github.com/therecipe/qt/qml"
	"github.com/therecipe/qt/quickcontrols2"
)

func main() {
	// Create application
	app := gui.NewQGuiApplication(len(os.Args), os.Args)

	// Enable high DPI scaling
	app.SetAttribute(core.Qt__AA_EnableHighDpiScaling, true)

	// Use the material style for qml
	quickcontrols2.

[2017-12-05 17:14] akhenakh opened #506 "On darwin Qml Map & geoservices plugins are not deployed correctly"
When building an app which includes `QtLocation` the `xx.app/Contents/Plugins/geoservices` is not copied nor dylib relinked with the appropriate path.

[2017-12-05 17:15] akhenakh commented on #501
duplicates of #500

[2017-12-05 17:15] #501 closed

[2017-12-06 22:53] adneg commented on #504
Ok this probably is correct way:

[code]
Yes?

[2017-12-07 21:02] Requaos opened #507 "Example .travis.yml"
I have been struggling with deciding how best to construct a .travis.yml file for a project built with this binding.

Knowing the details of how qtdeploy calls docker to perform the deployments would be valuable in setting a travis build job using the docker service

[2017-12-12 08:10] vahid-sohrabloo opened #508 "qt 5.10 support"
Is there any update to support qt 5.10?

[2017-12-12 08:14] bclermont commented on #508
I talked with @therecipe a few weeks ago and he said he's working on 5.10 support

[2017-12-12 09:33] RadhiFadlillah commented on #469
Hey @bclermont, are there any info from @therecipe about this ? If not, I would like to take this issue.

Right now I've already created a [doc generator](https://github.com/RadhiFadlillah/qt-docs-generator) which parses Go tags from source code, scrapes official Qt documentation, then combine them into one JSON file per Qt class. So I just need to create a simple Github pages to display those JSO

[2017-12-12 10:15] bclermont commented on #469
@RadhiFadlillah that sound like a good idea

@therecipe what you think?

[2017-12-12 15:17] everettjf opened #509 "Qt5.9.1 qglobal.h:45:12: fatal error: 'type_traits' file not found"
Hi, I'm using Qt 5.9.1 on macOS.

[code]

When I run `$GOPATH/bin/qtsetup` , errors below occurs
Anyone can help me ? Thank you .

[code]

[2017-12-12 18:37] 5k3105 opened #510 "Posted single-file example go code highlighter"
https://github.com/5k3105/GolangHighlighter

[2017-12-13 14:59] vahid-sohrabloo commented on #508
thanks for the response
where is he?
do you know when it's released?

[2017-12-14 15:12] argot42 commented on #500
I stumbled with this problem as well. I tried to change the docker image tag from `rpi` to `rpi1` but it failed as well. This is the log [qtdeploy_log.txt](https://github.com/therecipe/qt/files/1559689/qtdeploy_log.txt).

[2017-12-14 16:07] everettjf commented on #509
Finally , I found the problem .
Days ago, I build the clang. And install as the system default. ( http://everettjf.com/2017/04/18/llvm-clang-plugin-first-step/ ).
When I remove the clang , and make Xcode toolchain default .
There is no error occur.

[2017-12-14 16:07] #509 closed

[2017-12-16 12:48] ManPython opened #511 "core.cpp:9:30: fatal error: QAbstractAnimation: No such file or directory"
Hello,

I found problem that exist from 10months and is not repaired.

\Go\src\github.com\therecipe\qt\internal\examples\uitools\calculator\calculator.go"
# github.com/therecipe/qt/core
core.cpp:9:30: fatal error: QAbstractAnimation: No such file or directory
compilation terminated.

W7x64 / go1.9.2.windows-amd64

I'm not the first with this
https://groups.google.com/forum/m/#!msg/golang-nuts/xw5d

[2017-12-18 02:47] #510 closed

[2017-12-18 21:46] steffenmllr commented on #500
Same issue here - I also tried to use some older docker images with no success. Would be great if there is a example on how to build on a raspberry pi (on my case it's a zero) or better cross compile within a vagrant/docker container.

@therecipe If you point me in the right direction I would be happy to make an example repository or a wiki entry

[2017-12-19 01:45] therecipe commented on #508
Sorry for the radio silence, but I was a quite busy the last few weeks with some other stuff.
However, I have already started working on the Qt 5.10 support and it should be ready in the next few days.

I also just pushed some changes to make the binding use Qt 5.9.3 by default: https://github.com/therecipe/qt/commit/ecde93482da5275d432beef50d96b866c081ba8b

[2017-12-19 10:43] vahid-sohrabloo commented on #508
Very thanks, @therecipe.
I wait for it

[2017-12-19 14:46] atakanozceviz opened #512 "ERRO[0106] failed to run command cmd="go install -p 8 -v github.com/therecipe/qt/core""
After some time running setup on my Linux Mint 18.3 Cinnamon 64-bit machine:
`$ qtsetup`
This happenes:
[code]
System variables:
QT_VERSION=5.10.0
QT_DIR=$HOME/.Qt
QT_QMAKE_DIR=$HOME/.Qt/5.10.0/gcc_64/bin

[2017-12-20 06:32] xinfeng7312 opened #513 "Throw segmentation violation when the mouse moves to the window"
I copy widgets example to build and run, everything is all right, but throw segmentation violation when the mouse moves to the window.
Error info:
`fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x44bac34]

runtime stack:
runtime.throw(0x4979748, 0x2a)
	/usr/local/go/src/runtime/panic.go:605 +0x95
runtime.sigpanic()
	/usr/local/

[2017-12-20 13:48] mirchencom commented on #513
Me too

[2017-12-24 11:35] MTRNord opened #514 "Linux builds on current docker are failing with error"
Hi my CI builds are currently failing with this error:

[code]

Full log is in here: https://circleci.com/gh/Nordgedanken/Morpheus/767

It only happens on the linux tag. The windows docker works fine. Any suggestions would be much appreciated

[2017-12-26 20:40] nanu-c commented on #328
You have to set the CXX="arm-linux-gnueabi-cpp-7" to the right compiler

[2017-12-28 07:17] DeadNumbers opened #516 "Slow compiling"
I'm try deploy with docker, compiling simple program takes almost a minute
[code]
is there a way to speed it up?

[2017-12-28 14:09] MTRNord commented on #514
Full log with -debug: https://circleci.com/gh/Nordgedanken/Morpheus/825

[2017-12-28 14:59] MTRNord commented on #514
It fails since this is used https://github.com/therecipe/qt/blob/master/internal/ci/iscript.qs#L47-L50 . So somehow this breaks the docker

[2017-12-30 12:41] arwarw opened #518 "cpp build fails on #include <ui>"
I'm on Debian unstable, installing with the system qt libs (Version 5.9.1 atm) (QT_PKG_CONFIG=true).

template_cpp.go creates an #include <ui>, that is not found by cpp. Removing it makes compilation work. However, I did no in-depth research as to why <ui> is included. See pull request #517 for a possible solution.

[2017-12-31 08:18] fcying opened #519 "QT_DOC_DIR not work in windows"
I set QT_DOC_DIR `D:\tool\qt\Docs\Qt-5.9.3`
but qtsetup.exe also find `D:\tool\qt\5.9.3\mingw53_32\Docs`

I try  ` mklink /d Docs d:\tool\qt\Docs`, but qtsetup not work fine

my env:
[code]

[2018-01-01 11:43] justinclift commented on #508
Sounds like the [install instructions on the wiki](https://github.com/therecipe/qt/wiki/Installation#regular-installation) should be updated from 5.8 to 5.9.3 then.

I can get that done, but just need confirmation of the new default path before doing so:

* Old path : `$HOME/Qt5.8.0 or C:\Qt\Qt5.8.0`
* New path : `$HOME/Qt5.9.3 or C:\Qt\Qt5.9.3`

If that's correct, someone just say "yes" and I'll

[2018-01-01 13:48] justinclift opened #520 "ld (linker) error with qt/uitools on Qt 5.9.3"
When running qtsetup on a CentOS 7 x64 workstation, this ld error is being displayed for the qt/uitools module:

[code]

Also note, this is with Qt 5.9.3 and Go 1.9.2:

[code]

Does anyone know if that linker error at the end is likely to be a problem in general usage?  I'm just starting to explore `thereceipe/qt`, so not sure if `qt/uitools` is important. :smile:

[2018-01-01 18:37] justinclift commented on #494
It seems to be complaining that the Qt installation doesn't include the SVG module.

Maybe if you try with the Qt installer version (eg from qt.io), instead of the CentOS 6 provided libraries?  In theory :wink:, that should include all of the required bits. :smile:

[2018-01-02 04:27] #519 closed

[2018-01-02 04:30] fcying commented on #519
my fault, QT_DIR must set to `D:\tool\qt`

[2018-01-04 06:40] gauravagnihotri commented on #492
I had same errors, however I was able to fix them.
Here are the steps (for Windows).
Do not skip any of these steps

1. Download Qt and install it (I picked 5.9.1)
2. Go to My Computer - Right Click on This PC - Advanced System Settings -  Environment Variables
3. New - QT_DIR = C:\Qt (or wherever you have it installed)
4. New - QT_VERSION = 5.9.1 (because i picked 5.9.1)
5. Edit the Path Variable

[2018-01-04 06:45] gauravagnihotri commented on #511
I found the solution to this problem
See this
https://github.com/therecipe/qt/issues/492

[2018-01-04 07:29] gauravagnihotri commented on #505
See https://github.com/therecipe/qt/issues/492
I think your QT_DIR should be 'E:\program\Qt'

[2018-01-04 13:26] justinclift commented on #520
The answer to my above query appears to be "Yes".  Projects needing to use `github.com/therecipe/qt/uitools` won't be able to compile.

This one for example: https://github.com/therecipe/qt/tree/master/internal/examples/uitools/calculator

Haven't yet found out if anything else is affected, or if it can be worked around, as I'm still exploring. :smile:

[2018-01-04 16:06] justinclift commented on #512
As a thought, have you tried with Qt 5.9.3 instead?  From exploring things today, it seems like this project is best suited for Qt 5.9.3 at the moment.  Probably worth trying that, just in case it makes the needed difference. :smile:

[2018-01-04 16:17] atakanozceviz commented on #512
I have tried with Qt 5.9.3 and there are no errors. Thank you for advice :)

[2018-01-04 16:34] justinclift commented on #512
Awesome. :smile:

You should probably close this issue then, to help keep the open issue count down, etc. :wink:

[2018-01-04 16:38] #512 closed

[2018-01-04 19:24] 5k3105 commented on #516
other than using ```qtdeploy -fast``` after the first run, no.

[2018-01-05 01:38] justinclift commented on #520
As a data point, I tried this again today on a brand new [CentOS 7 x64](http://mirrors.coreix.net/centos/7/isos/x86_64/CentOS-7-x86_64-DVD-1708.iso) VM (with updates applied), + Go 1.9.2 and + Qt 5.9.3.

The exact same problem happens, so this  appears to be a real bug/issue rather than something weird with my general development desktop.

[2018-01-05 15:37] justinclift commented on #520
As another data point, just went through the whole setup process on Win 7 x64 (Go 1.9.2, Qt 5.9.3 from official installer), and this uitools failure doesn't happen.  Not sure if it's "Linux specific" or something CentOS specific yet.

[2018-01-05 15:52] justinclift opened #521 "audio-visualizer-qml example only works with Qt 5.8.0"
Been trying to get the audio-visualizer-qml example working both today and yesterday.  Instead, although it technically launches from qtdeploy without error... all that's shown in a small blank dialog window.

This is with both CentOS 7 x64, and Win 7 x64 (very different hardware on the systems too, so unlikely some weird hardware problem).

Looking through the existing issues here, there's a ment

[2018-01-05 17:50] justinclift commented on #520
Trying on CentOS 7 again, this time with different Qt versions:

| Qt version | Result |
| --- | --- |
| 5.8.0 | No compile error |
| 5.9.0 | Compiling now... |
| 5.9.1 | Not yet tested |
| 5.9.2 | Not yet tested |
| 5.9.3 | uitools compile error |

[2018-01-05 20:17] justinclift commented on #521
Just to check, I tried this with several versions of Qt.  All failed in the exact same way, with 1 exception that worked:

### Centos 7
* 5.8.0 - Fails.  Blank dialog.
* 5.9.0 - Fails.  Blank dialog.
* 5.9.2 - Fails.  Blank dialog.
* 5.9.3 - Fails.  Blank dialog.

### Win 7
* 5.8.0 - Works.  Loads background, buttons show up, music plays and some kind of moving display thing happens.
* 5.9.3 - Fai

[2018-01-06 01:49] justinclift commented on #469
@RadhiFadlillah Good thinking.  With the JSON output, what's that intended to be read by?

Asking because for docs I was thinking HTML output would be human readable... so it sounds like this is meant for feeding into some other kind of viewer? :smile:

[2018-01-06 17:52] justinclift commented on #521
Found out why only Qt 5.8 works with the example.  It's still using the Qt-5.8 specific version of `Visualizer.qml`.  When that's updated with the (small) changes from qt.io for Qt 5.9, the example works on both Windows and OSX with Qt 5.9.x.

Made a PR with the change, here: #522

[2018-01-07 20:30] gauravagnihotri opened #523 "How to call go function from qml?"
I think this question begs documentation on how to effectively use qml as a UI tool when writing code in go.
I got functions definined in go which will perform an action on a string.
I'm trying to use qml to get user input in a text field. I got a button definined in qml which I would like to use to call a function in my main.go file acting on the string entered in the text field.

For eg
[code]
[

[2018-01-08 03:20] bclermont commented on #523
you should learn markdown...

here is an example of how to call golang from qml

https://github.com/therecipe/qt/blob/master/internal/examples/quick/bridge/bridge.go#L100

[2018-01-08 03:29] gauravagnihotri commented on #523
Thanks! this is amazing!

p.s. sorry for being sloppy with formatting

[2018-01-08 03:29] #523 closed

[2018-01-08 15:17] cuthix opened #524 "Qtsetup failed wrong constructor of QRandomGenerator"
I run qtsetup with these settings:

[code]
ended up with error for `installing qt/core` :
[code]
while code generation finished without any error

[2018-01-09 08:48] avrahamlev opened #525 "QObject::~QObject: Timers cannot be stopped from another thread with"
_**I have the flowing test code:**_

//===================CODE==========================
#include <stdio.h>
#include  <QThread>
#include <QApplication>
#include <QMainWindow>
#include <QPushButton>
#include <unistd.h>
#include <thread>

using namespace std;
class mywindow : public QMainWindow
{
protected:
    **QPushButton** but;
public:
    mywindow();
    ~mywindow();
};
mywindow::mywindow():but

[2018-01-09 13:01] minhajakhterkhan199 commented on #459
Is this project dead? @therecipe

[2018-01-10 00:19] WetDesertRock opened #526 "Test builds don't run in the console on MacOS"
When running
```$ qtdeploy test desktop ```

It starts a new detached process and then exists. It does this through the open command. The issue I have is that I cannot see stdout when this happens. I suggest doing the equivalent of:
[code]
at least for test builds.

[2018-01-10 12:28] libs3 opened #527 "how can I let it not display DOS window?"
QML Example source code compiled after running, will first play out a DOS window, how can I let it not display?

[2018-01-12 02:26] mirchencom opened #528 "widget.Update() : Why does it have no effect?"
[code]

Why does it have no effect?

[2018-01-12 02:58] #527 closed

[2018-01-12 17:45] sarangborude opened #529 "LE advertising and scanning support on iOS and Bluez/linux"
Hello,
I read in the documentation that Bluetooth low energy scanning and advertising is not supported. When will this be implemented. I have urgent needs for projects I am working on.

Thanks,
Sarang

[2018-01-12 18:24] NightWolf007 opened #530 "Add function for casting QBrush to QVariant"
Hi,
I can't find function for casting QBrush to QVariant. This can be useful for custom model implementation with ForegroundRole and BackgroundRole.
I think this issue is related with #101

[2018-01-14 02:25] jxltom commented on #381
Nice work! With it, I don't need to write UI code by hand but using QT-designer to design UI and using uic tools to generate UI code automatically. Save a lot of time.

Is there any plan to integrate it to therecipe's qt project? Like python's QT binding PyQt, it provide uic, rcc tools together. It will be great to install go's qt binding in one click, but with all tools such as uic, rcc integrate

[2018-01-14 02:47] jxltom commented on #381
@stephenlyu Maybe your initial designer was right?

Using following code, user can SetupUI for any widget, such as QWindow, QDialog or just QWidget.

[code]

But after you change to ```w := NewUITestForm()```, user can not set base class and it will always be QWidget. Sometimes, user need use some property of other widget, such as QDialog.

Here is [usage](http://pyqt.sourceforge.net/Docs/PyQt5/de

[2018-01-14 03:43] RadhiFadlillah commented on #530
Hi @NightWolf007, you can do it by using `core.NewQVariant3` like this :

[code]

[2018-01-14 09:02] NightWolf007 commented on #530
It works, thanks. But, I think, it will be more comfortable to use `brush.ToVariant()`, like for QColor or QFont. I've proposed it PR.

[2018-01-15 15:51] omac777 opened #532 "Archlinux Qt5.9.2 go1.10beta1 error while build for linux on linux"
I've tried different versions of Qt and I still get this error at every Qt version installed with the qt installer:
`invalid value "\"-s\" \"-w\"" for flag -ldflags
`
How do I turn on more diagnostics for the qtsetup execution to isolate the source of the issue?

[code]

[2018-01-15 16:05] omac777 commented on #532
So I answered my own question about how to debug qtsetup.  "-debug" switch.
I changed directory to the very first project it wants to test which is where the error occurred.

It seems there is an error "failed to parse header" even before the "failed to run command".

[code]

Anyways here is the full output:
[code]

[2018-01-15 16:11] renannprado commented on #529
I don't mean to be rude here.
That being said, I see two options:
1. Implement yourself
2. Contact @therecipe and hire him as a consultant to help you out

You can also go to [`#qt-binding`](https://gophers.slack.com/messages/qt-binding/details) slack channel and try to find someone who could help you.

[2018-01-15 16:11] vahid-sohrabloo commented on #508
Is there any news?

[2018-01-15 20:57] velascopja commented on #524
I'm getting the same error when installing full qt/core, full qt/androidextras, etc. Here are my settings:

`INFO[0000] running: 'qtsetup check linux' [docker=false] [vagrant=false]
INFO[0000] GOOS:                                     'linux'
INFO[0000] GOARCH:                                'amd64'
INFO[0000] GOVERSION:                           'go1.9.2'
INFO[0000] GOROOT:

[2018-01-16 09:28] RadhiFadlillah commented on #469
@justinclift @bclermont @therecipe

I've finished making simple Github pages for displaying the JSON output from my [doc generator](https://github.com/RadhiFadlillah/qt-docs-generator). You can check it [here](https://radhifadlillah.github.io/qt-docs). The search bar still not work though, and there are some method that still don't have any description.

[2018-01-16 09:58] RadhiFadlillah commented on #524
@cuthix AFAIK Qt 5.10.0 still not supported by this binding, but @therecipe already [started](https://github.com/therecipe/qt/issues/508#issuecomment-352613973) working on it.

[2018-01-16 15:34] justinclift commented on #469
@RadhiFadlillah That looks *really* *really* well done.  Seems pretty excellent to me. :smile:

Hopefully @therecipe starts paying attention to this repo again soon, hopefully to share admin perms or something so things like your generated docs can be added without huge delays. 😀

[2018-01-16 15:57] renannprado commented on #469
Nice work @RadhiFadlillah!

[2018-01-17 19:30] #530 closed

[2018-01-17 19:52] therecipe commented on #532
Hey

Yeah, it seems Go 1.10 wants you to specify a pattern now for the `ldflags`.
This should be fixed with: https://github.com/therecipe/qt/commit/a76e7081468b0d9d554349b66b4971929f036ce7

[2018-01-17 19:58] therecipe commented on #508
Sorry, took a little longer than expected: https://github.com/therecipe/qt/commit/a76e7081468b0d9d554349b66b4971929f036ce7
I needed to fix a few small issues, and an long outstanding issue with the iOS builds.

[2018-01-17 22:02] therecipe commented on #469
@RadhiFadlillah
That's fucking awesome, I really love it :)
I like that it has the same clean/minimal look and feel as the official docs and also that you used raw HTML/JS/CSS instead of some framework.
I made you a collaborator, so feel free to proceede as you wish.
Thank you very much for you work :)
(Also, is it possible to get the descriptions into the source as well? for godoc?)

I myself wil

[2018-01-17 23:17] ReK2Fernandez commented on #469
are this documentation going to be put on the main site? @therecipe yeah man.. and give access to other people so the project continues :)

[2018-01-18 00:59] drrob1 commented on #520
I would like to add that I also have seen this bug, on an Ubuntu 16.04 host using the docker image called minimal install.  And the qt-hello.go won't compile for me.
How do I downgrade my Qt from 5.9.3 to 5.9.2?

[2018-01-18 14:59] justinclift commented on #521
Closing this, as it's fixed in the (now merged) #522.  Well, fixed for Win and OSX anyway. :smile:

[2018-01-18 14:59] #521 closed

[2018-01-18 15:09] justinclift commented on #469
@therecipe As a general thought :smile:, since https://github.com/therecipe only has the one repo (this one), maybe convert it from a user into an organisation? (pretty sure there's a button in the settings page somewhere)

That'd let you create user groups and assign roles/access/permissions to people.  More powerful and fine grained than adding people as collaborators.  Could be useful. :smile:

[2018-01-18 15:12] justinclift commented on #520
It depends on how you installed Qt.

For me, I installed it using the official Qt installer from qt.io.  When that runs, it gives you a selection of versions you can download + installs them (by default) in a "Qt" folder inside your home directory.

So, I just deleted the "Qt" folder in my home directory and ran through the installer again. :smile:

[2018-01-18 15:25] justinclift opened #533 "AppVeyor failures"
Seems like the CI process is broken at the moment on AppVeyor.

The error from the AppVeyor logs reads:

[code]

Anyone know what needs to be done to fix this, or should AppVeyor be removed from the CI process (for now)?

[2018-01-19 07:28] jxltom opened #534 "Cannot find -lpulse-mainloop-glib -lpulse -lglib-2.0"
Following errors raises for almost every command when running ```qtsetup```

[code]

I am using Ubuntu 16.04 with go1.9.2 and Qt5.8.0

[2018-01-19 07:32] jxltom commented on #534
Damn, I forgot to ```sudo apt-get -y install build-essential libgl1-mesa-dev libpulse-dev```. Sorry for the noise.

[2018-01-19 07:32] #534 closed

[2018-01-19 08:36] jxltom opened #535 "Minimize application size and support one file mode"
It looks like the deployed applications is huge in Linux. The total size of folder is around 80Mb. It also contain linking to other qt module which is not used. Is there any solution to make this smaller?

Besides, any plan to support one dir mode which combine everything into one file (naybe compressed) and then make it easier to distribute?

Thanks

[2018-01-19 11:33] slytomcat opened #536 "qtsetup panics"
I'm trying minimal setup with qt (5.1.1) from distro repository for Xubuntu 16.04

`$ qtsetup
INFO[0000] running: 'qtsetup prep'
INFO[0000] successfully created qtrcc symlink in your PATH (/home/stc/DEV/GO/usr_local/go/bin/qtrcc)
INFO[0000] successfully created qtmoc symlink in your PATH (/home/stc/DEV/GO/usr_local/go/bin/qtmoc)
INFO[0000] successfully created qtminimal symlink in your PATH (/home

[2018-01-20 16:22] drrob1 commented on #520
Your experience is on CentOS.  I'm on Ubuntu 16.04.  Qt 5.9.0 thru 5.9.4 did not work for me.  However, 5.10.0 works to completion.  It's interesting that the installer defaults to 5.9.4.
Thanks again for your help.

[2018-01-20 16:34] bigbyman commented on #520
Had the same error, but on Windows 10. Tried with qt 5.10.0, 5.9.3 and 5.9.2, none was working. Today I came back to this, realised that my version of golang arch is x86_64, installed mingw-w64, pointed my path to it, and reinstalled qt ..well, now it works like a charm, installation passes without any errors. Hope this helps.

[2018-01-20 17:04] justinclift commented on #520
Cool.  I'll try 5.10.0 again here, and see if it's working now.  @therecipe added further 5.10.0 support a few days ago (in a76e7081468b0d9d554349b66b4971929f036ce7), which might mean that part works now. :smile:

[2018-01-20 17:51] justinclift commented on #520
Yep, the `qt/uitools` error is gone now when building with Qt 5.10.0.

Used Go 1.10beta2 (linux/amd64) this time around too, which may have made a difference as well.  Not sure.  Anyway, it's working now, which is good enough.

Thanks for the pointer to try Qt 5.10.0 again @drrob1 and @bigbyman. :smile:

[2018-01-20 17:51] #520 closed

[2018-01-21 01:27] RadhiFadlillah commented on #469
@therecipe thanks for making me collaborator.

Yep, it should be easy enough to do. However, I still have a job for the next few days, so I can only start working on it maybe around the end of January.

I agree with @justinclift, you should convert this repo into organization. However, before that, I suggest you to *finally* pick the [name](https://github.com/therecipe/qt/issues/382) for this bind

[2018-01-21 02:02] justinclift commented on #382
@therecipe Since you're stuck when trying to decide on the name, why don't we just do a vote thing and be done with it?  As long as the end result isn't horrible that'd "get it done" so there's one less thing taking up potential thinking time. :smile:

[2018-01-21 12:44] MTRNord commented on #514
It works again. no Idea how but thanks I guess

[2018-01-21 12:44] #514 closed

[2018-01-21 17:34] vahid-sohrabloo commented on #508
Thanks for this commit. :clap:
I'm waiting for IOS commit: ok_hand:

[2018-01-23 01:10] cyphar commented on #495
Consult with a lawyer, don't ask random strangers on the internet for legal advice.

[2018-01-24 10:19] 242617 commented on #451
I have the same error. IOS, Go 1.9.

[2018-01-26 10:06] velascopja opened #537 "Exposing a non QObject struct in a QObject struct to QML"
Sorry if this is a stupid question, but I'm a newbie both with Qt and Go.
Suppose I have a package foo with a struct like this:
[code]
I'd like to have access to my members from a .qml file, so I create another struct like this:
[code]
and try to access Member1 from main.qml with something like:
[code]
Of course after setting the context before loading main.qml:
[code]
I get this error:
[code]
Can

[2018-01-27 06:33] akiyosi opened #538 "can't build app"
Hi, I trying to build [gonvim](https://github.com/dzhou121/gonvim) with therecipe/qt. but I can't build it.
(related isuue: [gonvim issue #87](https://github.com/dzhou121/gonvim/issues/84))

I got the following error.
[code]

So, I search ”QChar11” under `$GOPATH/src/github.com/therecipe/qt`, I confirmed that the search results are different before and after qtsetup.
Is there something wrong with

[2018-01-29 17:01] ShalokShalom commented on #382
Go + Qt = Goat ^-^

[2018-01-30 02:14] ghost opened #539 "core.QLocale_System().Name() is always 'en_US' ?"
Running win7 x64 PRC, but core.QLocale_System().Name() is 'en_US', Expecting 'zh_CN'.

Maybe automatically load locale qm ? Need to load locale qm manually.

[code]

[2018-01-30 02:34] ghost opened #540 "I want to move window when dragging with left button, but window.X() seems equal to gui.QCursor_Pos().X() always."
win7 x64 target x86, qt 5.9.4, therecipe/qt lastest

It's this right ?

[code]

[2018-01-30 07:51] di3663 commented on #475
I found even window focus cause memory increase, this is a very serious problem.

[2018-01-31 11:29] woodyjon opened #541 "Installation problem qtsetup fails"
Hello,

I am trying to install the binding but I have the following errors. Your help would be much appreciated. Here are the steps I did:

- Ubuntu 16.04
- Regular install. I installed QT 5.10.0
- $GOPATH/bin/qtsetup gives me the following errors at step 0062:

I thought it was my gopath not set, but I think it is fine.

[code]

[2018-01-31 13:19] arwarw commented on #518
has been merged, seems fixed.

[2018-01-31 13:19] #518 closed

[2018-02-01 09:02] nntaoli opened #542 "Are there any company or individual that use this binding for large project ?"

[2018-02-01 09:09] Huholoman commented on #542
Jeg forstår ikke i det hele tatt.

[2018-02-01 13:11] RadhiFadlillah commented on #542
I've personally use this binding for Point of Sale system in my own company, and it works nicely. For large open source project, you can check [gonvim](https://github.com/dzhou121/gonvim).

As far as I know, this binding is stable and still actively developed. So, as long as your works doesn't have any problem with [LGPL license](https://github.com/therecipe/qt/wiki/FAQ#what-is-the-implication-fro

[2018-02-01 13:23] RadhiFadlillah commented on #108
Closed since it's old and has been fixed.

[2018-02-01 13:23] #108 closed

[2018-02-01 13:29] RadhiFadlillah commented on #119
Closed since Qt5.8 already supported. Follow #508 for Qt5.10.

[2018-02-01 13:29] #119 closed

[2018-02-01 13:32] RadhiFadlillah commented on #183
Closed since it's old and has been documented [here](https://github.com/therecipe/qt/wiki/Setting-the-Application-Icon).

[2018-02-01 13:32] #183 closed

[2018-02-01 13:37] RadhiFadlillah commented on #315
Closed since it's old and has been solved.

[2018-02-01 13:37] #315 closed

[2018-02-01 13:40] RadhiFadlillah commented on #392
Closed in favor of #508.

[2018-02-01 13:40] #392 closed

[2018-02-01 13:40] #359 closed

[2018-02-01 13:52] RadhiFadlillah commented on #541
It seems `go` is not detected on your `$PATH`. Could you show the output of :

- `which go`
- `qtsetup check`

[2018-02-01 15:00] woodyjon commented on #541
There you go:

[code]

[2018-02-02 07:25] di3663 commented on #542
内存泄漏，慎用，qt已经足够简单了。

[2018-02-02 09:02] nntaoli commented on #542
@di3663  嗯，我只会Go语言，c++不是很懂，我是看中qt的跨平台和组建丰富，想用qt做界面，go做业务逻辑，这样方便我维护整个项目。想了解下这个绑定是否稳定，所以提了这个issue。

[2018-02-02 09:11] nntaoli commented on #542
@RadhiFadlillah
Can do business software based on this project, with dynamic link qt?

[2018-02-04 04:34] wuyushuai opened #543 "win10 install qt5.8 error msg="failed to run command" cmd="copyCmd"
`$ ./qtsetup.exe
time="2018-02-04T11:45:18+08:00" level=info msg="running: 'qtsetup prep'"
time="2018-02-04T11:45:19+08:00" level=info msg="running: 'qtsetup check windows' [docker=false] [vagrant=false]"
time="2018-02-04T11:45:19+08:00" level=info msg="GOOS:                        'windows'"
time="2018-02-04T11:45:19+08:00" level=info msg="GOARCH:                      'amd64'"
time="2018-02-04T11

[2018-02-04 04:50] zuiwuchang commented on #543
this is a bug at [internal/cmd/deploy/bundle.go line 275](https://github.com/therecipe/qt/blob/master/internal/cmd/deploy/bundle.go)
code should
[code]
but now is this
[code]
should **copyCmd** not **"copyCmd"**

fix it you can do this at msys2
cp /usr/bin/cp.exe /user/bin/copyCmd.exe
qtsetup

[2018-02-04 10:02] wuyushuai commented on #543
tkank you for your help   @zuiwuchang
![tim 20180204173924](https://user-images.githubusercontent.com/36121631/35776302-e43796ee-09d4-11e8-99c3-a637edc13669.png)

[2018-02-05 10:17] vahid-sohrabloo opened #544 "golang 1.10rc1 qt 5.10 ios error -"
I run gallery example with golang 1.10rc1 and QT 5.10 on ios simulator
After build and run gave me this error
[code]

[2018-02-06 09:39] ernstvanzyl opened #545 "Syntax error?"
Should the quotes be there? "copyCmd" -> copyCmd?
https://github.com/therecipe/qt/blob/a76e7081468b0d9d554349b66b4971929f036ce7/internal/cmd/deploy/bundle.go#L275

[2018-02-06 10:50] ernstvanzyl commented on #545
Sorry. Duplicate of #543

[2018-02-06 10:50] #545 closed

[2018-02-07 17:40] amitdo commented on #382
* QtAndGo
* QG
* QGo
* Go2Qt
* Go4Qt
* Qpher (Qt+Gopher)
* Qter

[2018-02-08 23:48] ShalokShalom commented on #382
Qopher sounds nice too

[2018-02-11 00:06] PapiCZ opened #546 "Arch Linux - windows is not supported with PkgConfig"
Hello.
I wanted to build app for windows, but I am getting following error...
[code]

I can't set `QT_PKG_CONFIG` to `false`, because then I get totally bad paths. For example `/home/papi/Qt5.10.0/Docs/Qt-5.10.0/qtpositioning/qtpositioning.index` is for me in `/usr/share/doc/qt/qtpositioning/qtpositioning.index`, so changing `QT_DIR` wouldn't help me.
[code]

[2018-02-12 07:02] dannybabbev opened #547 "qtdeploy for Raspberry Pi fails"
I am trying to build the hello world application for Raspberry Pi 3 with docker on Ubuntu.

My main.go is:
[code]

I am running to command ``` sudo -E qtdeploy -docker test rpi3 ``` since docker can't be accessed without root privileges on Ubuntu.

This fails with the following error:
[code]

On the other hand, ``` sudo -E qtdeploy -docker test linux ```builds without problem.

What might be the p

[2018-02-12 09:39] pvicol opened #548 "Undefined error when trying to bridge go with QML"
@therecipe

[code]
I get the following error after running `qtmoc desktop` in the project directory

[code]

[code]

[2018-02-12 18:44] akhenakh opened #549 "compilation failed with recent go: invalid flag in #cgo CFLAGS: -pipe"
go version go1.9.4 linux/amd64

since 1.9.4 cgo args are whitelisted, some are missing to compile the qt bindings
`-fno-plt` `-isystem` `-Wl,-O1` `-pipe` ...
See https://github.com/golang/go/issues/23672
relates to https://github.com/golang/go/issues/23749

temp fix:
[code]

[2018-02-12 21:39] bashfulrobot opened #550 "Broken links in readme"
The https://github.com/therecipe/qt/wiki/Installation link seems to be broken (404) in the readme, and the wiki. Just a heads up.

[2018-02-13 18:56] omac777 opened #551 "Android x86_64 and Android Arm_64 qtdeploy does not exist"
Android-x86 7.1-r1 live and installation iso (64-bit)
[code]
I was getting build errors for the androidextras from within the internal directory so I decided to move them out to another directory and the build was successful from there.
`mv therecipe/qt/internal/examples/androidextras/ omac777/`

Building the two apks for jni and notification with:
[code]
From within the Android-x86 VirtualBox, I

[2018-02-14 14:31] omac777 commented on #551
OK so I decided to take another approach and see if I could see the built android apk would run on armv7 android.  Actually it does.  Surprisingly the very same apk ALSO runs on armv8 android without modifications.
[code]

[2018-02-14 22:33] nanu-c opened #552 "Add support for ubuntu touch"
Building for ubuntu touch can be done easily with a docker container :)

[2018-02-14 23:33] Frzifus commented on #552
Building for Sailfish would be a big deal as well. :b

PS: I thought ubuntu touch is expired?

[2018-02-14 23:41] nanu-c commented on #552
Ubuntu touch is like a phoenix it's now in community hands and it is a quite active https://ubports.com/

[2018-02-15 09:57] ubuntulove74 commented on #552
👍  for Support Ubuntu Touch
I have ubports Ubuntu touch 15.04 on nexus 5

[2018-02-16 15:30] ldinc opened #553 "Can i use 5.6 Qt?"
Hi! Can i use qt -bindings with version 5.6 and how (examples or some other info will be nice)?

[2018-02-17 14:43] xjtdy888 opened #554 "how to integrated 3rdpart c++ qt module"
hi, Will the third-party modules such as qpm management module package, how to integrate into the project.

[2018-02-17 15:33] daviddextersava opened #555 "App does not start after build"
Windows application does not run after building;
``sh
qtdeploy -docker build windows_32_static
``
I tried launching the app via CMD by running
``sh
./sampleapp.exe
``
but nothing else. No errors, no app window. A check on task manager shows a running service with the same name as the app.

Tried building a shared version,(32 & 64) but that didn't work too. Curiously, wine failed also to launch the

[2018-02-18 03:07] akiyosi commented on #538
Hi, I also tried the points described in the issue therecipe/qt#174, therecipe/qt#144, but the generated code seems to be old.

I would appreciate it if you could point out why my environment is generating old code...

[2018-02-19 13:13] ldinc commented on #553
My bad, found on wiki

[2018-02-19 13:13] #553 closed

[2018-02-20 03:41] bhdouglass commented on #552
It would be great to integrate this with clickable (command line tool for compiling Ubuntu Touch apps), let me know if I can help! http://clickable.bhdouglass.com/en/latest/

[2018-02-20 08:32] Shadoukun commented on #549
Is there any temp fix for windows?

CGO_CXXFLAGS_ALLOW, CGO_LDFLAGS_ALLOW, and CGO_CFLAGS_ALLOW dont seem to work as env variables.

[2018-02-20 12:58] ernstvanzyl commented on #549
From what I can tell qtdeploy uses a limited set of environment variables when it does the final build. These three flags aren't included.
I changed github.com\therecipe\qt\internal\cmd\cmd.go:
[code]
Notice the last three lines. Rebuild qtdeploy

[2018-02-21 10:09] nanu-c commented on #552
Ubuntu touch uses qt 5.4.1, today i tried to compile the demo in getting started with that and I get the following error. What is the oldest supported version of qt?

[code]

[code]

[2018-02-21 16:36] omac777 commented on #551
Within qt/internal/cmd/cmd.go, the function with signature:
`func BuildEnv(target, name, depPath string) (map[string]string, []string, []string, string)`

places android generates only  armv7 binaries
[code]

Oddly enough the ios targets have arm64 which is equivalent to armv8.
[code]
This places binaries for android at a disadvantage.  I believe there should be more flexibility as to what kind of

[2018-02-23 12:19] Keyn1 opened #556 "I cannot understand how to solve the installation problem"
I'm running a command:
"go get -u -v github.com/therecipe/qt/cmd/..."

and get such mistakes
///////////////////////////////////////////////////
C:\>go get -u -v github.com/therecipe/qt/cmd/...
github.com/therecipe/qt (download)
github.com/sirupsen/logrus (download)
Fetching https://golang.org/x/crypto/ssh/terminal?go-get=1
Parsing meta tags from https://golang.org/x/crypto/ssh/terminal?go-get=1 (

[2018-02-24 18:24] tjgillies opened #557 "android emulator build fails with docker"
non-emulator docker android build works

[code]

[2018-02-24 21:50] erfanio opened #558 "Can't build on archlinux with go1.10"
I just updated go on archlinux, and keep getting this when trying to build

Building with `qtdeploy`
[code]

[2018-02-25 02:19] W-B-S opened #559 "Error when run qtsetup on Mac OS 10.13.4 Beta (17E160e) invalid flag in #cgo CFLAGS: -arch"
INFO[0125] installing full qt/core
ERRO[0126] failed to run command                         cmd="go install -p 4 -v github.com/therecipe/qt/core" env= error="exit status 1" func=RunCmdOptionalError name="install core"
github.com/therecipe/qt
github.com/therecipe/qt/core
go build github.com/therecipe/qt/core: invalid flag in #cgo CFLAGS: -arch

INFO[0126] installing full qt/androidextras
ERRO[0126]